<div class="dialog-form ui-widget">
    <form id="configuration-submit" class="ui-corner-all ui-widget-content" method="post" action="">
        <fieldset>
        {{ formset.management_form }}
        {% csrf_token %} 
        {% for form in formset.forms %}
        
            <div class="formset-form-container">
                <p class="validateTips">
                    {{ form.non_field_errors }}
                </p>

                <div class="fieldWrapper">
                    {% if form.device_type.errors %}
                        <div class="ui-state-error">
                            {{ form.device_type.errors }}
                        </div>
                    {% endif %}
                    <label for="id_device_type">Tipo di dispositivo:<label>
                    {{ form.device_type }}
                </div>


        {% endfor %}
        <fieldset>
    </form>
</div>
