<table id="myTable" class="tablesorter"> 
<thead> 
<tr> 
    <th>Status</th> 
    <th>Nome Device (Nodo)</th> 
    <th>SSID</th> 
    <th>Apparato</th> 
    <th>IP</th> 
    <th>MAC</th> 
    <th>Segnale</th> 
</tr> 
</thead> 
<tbody> 
{% for device in devices %}
<tr> 
    <td><a name="{{device.node.id}}"></a><div class="status-{{ device.status }}"></div><span style="display: none">{{ device.status }}</span></td> 
    <td>{{ device.name }} ({{ device.node_name }}) </td> 
    <td>{{ device.ssid }}</td> 
    <td>{{ device.device_type }}</td> 
    <td>{{ device.ip }}</td> 
    <td>{{ device.mac }}</td> 
    <!-- td> {% if device.signal != 0 %}  <div id="pb_{{forloop.counter}}"></div>{{ device.signal }} dBm {% endif %} <br/> {{device.signals}}</td --> 
    <td>{%for signal in device.links %} <div id="pb_{{device.id}}_{{signal.id}}"></div> {{signal.dbm}} dbm (<a href="#{{signal.to_node.id}}">{{signal.to_node.name}}</a>)<br/> {% endfor %}</td>
</tr> 
{% if device.signal != 0 %}
<script>
    $("#pb_{{forloop.counter}}").progressBar({{ device.signal_bar }} );
</script>
{% endif %}
{%for signal in device.links %}
<script>                                                                                                                                                                           
    $("#pb_{{device.id}}_{{signal.id}}").progressBar({{ signal.signal_bar }} ); 
</script> 
{% endfor %}

{% endfor %}
</tbody> 
</table> 
<!-- div id="pager" class="pager">
    <form>
        <img src="{{MEDIA_URL}}images/pager/icons/first.png" class="first"/>
        <img src="{{MEDIA_URL}}images/pager/icons/prev.png" class="prev"/>
        <input type="text" class="pagedisplay"/>
        <img src="{{MEDIA_URL}}images/pager/icons/next.png" class="next"/>
        <img src="{{MEDIA_URL}}images/pager/icons/last.png" class="last"/>
        <select class="pagesize">
            <option selected="selected"  value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option  value="40">40</option>
        </select>
    </form>
</div -->


