

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#map { height: 180px; }

.remove_marker {
  background-color: #ff0000;
    color: #000000

}
.confirm_marker {
  background-color: #00ff00;
  color: #000000
}

#valori {
  background-color: #cccccc;
  color: #000000;
  font-size: 12px;
  margin: 1px;
}

#node_insert {
  background-color: #cccccc;
  color: #000000;
  font-size: 10px;
  display:none;
}

/*#logoutButton {
  display:none;
}*/

.comment_text{
    font-size:11px;
    color:#000000;
    background-color: #FFFFFF;
    word-wrap: break-word;
    border-style:solid;
    border-width:1px;
    padding: 1px;
    margin: 1px;

     
}

.comment_user{
    font-size:10px;
    color:#0000FF;
    background-color: #CCCCCC;
    word-wrap: break-word;
/*    padding: 1px;
*/
}

.comment_date{
    font-size:10px;
    color:#000000;
    background-color: #CCCCCC;
    word-wrap: break-word;
/*    padding: 1px;
*/     
}

.user{
    font-size:10px;
    color:#FFFFFF;
    background-color: #CCCCCC;
    word-wrap: break-word;
  
}

.rome {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;
    background-color: green;
    text-align: center;
    font-size: 14px;
    border-radius: 15px;
}

.provinciawifi {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;
    background-color: blue;
    text-align: center;
    font-size: 14px;
    border-radius: 15px;
}

.viterbo {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;
    background-color: yellow;
    text-align: center;
    font-size: 14px;
    border-radius: 15px;
}

.pisa {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;
    background-color: red;
    text-align: center;
    font-size: 14px;
    border-radius: 15px;
}

.vote
{
  font-size:10px;
}

#pagingControls ul{display:inline;padding-left:0.5em}
#pagingControls li{display:inline;padding:0 0.5em}










