html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address,
del, dfn, font, img, ins, kbd, q, s, samp,
strike, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, textarea, input,
table, tbody, tfoot, thead, tr, td, h1, h2, h3, h4, h5, h6,
th, caption {
	margin:	 0;
	padding: 0;
	border:	 0;
}
article, aside, figure, footer, header, hgroup, menu, nav, section { display:block;margin:0;padding:0 }

.accessibility{ position:absolute;top:-9999px }

html, body { height: 100% }

#nodeshot-mask{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	z-index:10;
	display:none
}

#nodeshot-modal{
	position: absolute;
	padding: 15px 25px;
	top:30%;
	left:30%;
	width:400px;
	background:#000;
	color:#fff;
	font:normal 13px/25px Arial, sans-serif;
	border:1px solid #fff;
	border-radius:3px;
	-moz-border-radius:3px;
	z-index:20;
	display:none
}
#nodeshot-ajaxloader{ position: absolute; top: -9999px; z-index: 100 }
#nodeshot-overlay{ position:absolute;top:0;left:0;width:100%;height:100%;z-index:11 }

#nodeshot-mask.initial{
	display: block;
	position: absolute;
	background: rgba(0,0,0,0.7);
	z-index:998;
}
#loading{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: transparent url(../images/ajax-loader.gif) no-repeat scroll center center;
	z-index:999;
	text-align: center;
}
#nodeshot-mask noscript{
	color: red;
	font-weight: bold;
}

#container{
    margin: 0 auto;
    height: 100%;
    min-height: 400px;
    width: 100%;
    background: #fff;
    font-family: sans-serif;
    font-size: 14px;
    color: #000;
}

#header{
	min-width:950px;
    background: #000;
    color: #fff;
    overflow: hidden;
    height: 35px;
}

#header h1{ 
    display: inline;
    padding-left: 6px;
    color: #FFA500;
    font: bold 28px "Arial", sans-serif;
    letter-spacing:-1px;
}

#content-container{
    float: left;
    width: 100%;
}

#content{
    float: left;
    width: 74%;
    min-height:500px;
    padding: 0;
    margin: 0;
}

#content h2, #overlay h2 { margin: 0; }

#aside{
    float: right;
    width: 24%;
    padding: 0;
    margin: 0;
    color: #000;
    line-height:24px;
}

#aside .wrapper{
	padding: 8px 0 0 8px
}

#aside .inner{
	padding: 10px 0 10px 3px;
}

#aside h3 { margin: 0 }

#map_canvas { height:700px }

#network-stat{
	display: inline;
	position: relative;
	top: -4px;
	padding-left: 15px;
    line-height: 35px;
    font-size: 12px;
    text-align: left;
}

#network-stat span{ margin: 0 3px }

#head-controls
{
	width: 410px;
	padding: 5px 5px 0 0;
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
}

#search {
	float: right;
	margin-top: 1px;
	padding-top: 3px;
	padding-bottom: 4px;
	margin-left: 5px;
    text-align: center;
    vertical-align: top;
    width: 286px;
    color: #a1a1a1;
    font-style: italic;

}

#choices{ margin: 0 auto 10px }

#node-tree-container
{
    width: 280px;
    height: 350px;
    overflow: auto;
    margin-top: 5px;
}

body#overlay-container{
	padding: 20px 0;
	background-color: gray !important;
}

#nodeshot-overlay{
	font: normal 12px Arial, Freesans, sans-serif;
}

#nodeshot-overlay-inner{
	position: relative;
	margin: 20px auto;
	padding: 20px;
	width: 550px;
    border: 1px solid #666666;
    background: #000000;
	z-index:11;
	-moz-border-radius: 6px; border-radius: 6px;
}
#nodeshot-overlay-inner.larger{ width:650px }
#nodeshot-overlay-inner.narrower{ width:480px }

/* DLG */
#nodeshot-overlay .content, #info-window .content {
    color: #fff;
    font: normal 12px/24px Arial, Freesans, sans-serif;
}
#info-window .content{ line-height: 20px }
.dialog-form form,
#nodeshot-overlay .content form{ overflow: hidden }
.dialog-form label, .dialog-form input,
.content label, .content input { display:block; }

#nodeshot-overlay .content p,
#info-window .content p{
	margin: 10px 0 0;
}

#nodeshot-overlay .text,
#nodeshot-form .formset-form-container input,
#nodeshot-form .formset-form-container select,
#info-window .text{
	margin: 0;
	width: 528px;
	font: normal 13px Arial, Freesans, sans-serif;
	padding: 5px 10px;
	border: 1px solid #666;
	background-color: #262626;
	color: #fff;
	-moz-border-radius: 6px; border-radius: 6px;
}
#nodeshot-form select.text,
#nodeshot-form .formset-form-container select{
	width: auto;
	padding:0;
}
#info-window .text{
	display: inline;
	width: auto;
	min-width: 210px;
	max-width: 300px;
	font-size: 12px;
}
#nodeshot-form .formset-form-container input{
	width: 502px;
}
#nodeshot-overlay-inner.narrower .text{
	width:458px;
}

#nodeshot-overlay .content a{
	color: #9bbfff;
}
#nodeshot-overlay .content a:hover,#nodeshot-overlay .content a:focus{
	color: #fff;
	text-decoration: none;
}

#confirm-new a, #nodeshot-modal .button{
	float: left;
	margin-right: 10px;
	color: #fff;
	padding: 6px 15px;
	border-radius:3px;
	-moz-border-radius:3px;
	text-decoration: none;
	font: bold 12px Arial, Freesans, sans-serof;
	cursor: pointer;
}

.button, #nodeshot-form .add-row{
	position: relative;
	padding: 5px 12px;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	background: #555 url(../images/ui-darkness/ui-bg_glass_20_555555_1x400.png) 50% 50% repeat-x;
	color: #EEE;
	font: bold 13px "Segoe UI", Arial, sans-serif;
	border: 1px solid #777777;
	zoom: 1;
	-moz-border-radius: 5px; border-radius: 5px;
}
.button.link{
	-moz-border-radius: 3px; border-radius: 3px;
	margin-right: 6px;
}
.button.cancel{ color: #c6c6c6 }
a.button{ color: #fff !important }
#nodeshot-modal .button{ margin-top: 10px; border: 0 none }

#nodeshot-form .add-row{
	background: #006601 none;
	color: #fff !important;
	border: 1px solid #006601;
}

#nodeshot-overlay #nodeshot-form .delete-row,
#advanced-info .toggle-info{
	float: right;
	color: #fff;
	padding: 0 7px;
	font-weight: bold;
	text-decoration: none;
	background: #d50000;
	-moz-border-radius: 5px; border-radius: 5px;
}
#nodeshot-overlay #nodeshot-form .delete-row{
	position: relative;
	bottom: -4px;
}
#advanced-info .toggle-info{
	float: none;
	padding: 3px 7px;
	cursor: pointer;
}
.green{ background: #006601 !important }
.red{ background: #d50000 !important }
.purple{ color: #5f0060; }

.button:hover,.button:focus,
#nodeshot-overlay .text:focus,
#nodeshot-form .formset-form-container input:focus,
#nodeshot-form .formset-form-container select:focus,
#addnode:hover,#addnode:focus{
	color: #fff;
	border: 1px solid #59b4d4;
	background: #0078a3 url(../images/ui-darkness/ui-bg_glass_40_0078a3_1x400.png) 50% 50% repeat-x;
	outline: 0 none;
	font-weight: bold;
}
#addnode:hover .ui-icon-plusthick,#addnode:focus .ui-icon-plusthick{
	background-image: url(../images/ui-darkness/plusthick-fff.png) !important;
}
#nodeshot-form a.add-row:hover,a.green:hover,
#nodeshot-form a.add-row:focus,a.green:focus{ background-color: #009001 !important }
#nodeshot-overlay #nodeshot-form .delete-row:hover, a.red:hover,
#nodeshot-overlay #nodeshot-form .delete-row:focus, a.red:focus{ background-color: #ff2f2f !important }

#nodeshot-form .ui-state-error,
#nodeshot-form .success{
	display: block;
	padding: 0 7px;
	margin: 2px 0 9px;
	border: 1px solid #ffb73d;
	background: #ffc73d url(../images/ui-darkness/ui-bg_glass_40_ffc73d_1x400.png) 50% 50% repeat-x;
	color: #111111;
}
#nodeshot-form .success{
	border: 1px solid #006601;
	background: #006601 none;
	color: #fff
}

#nodeshot-form fieldset { padding:0; border:0; margin-top:10px }
#nodeshot-form .form-tips {font-size: 13px}

.content h1 {
	font-family: Segoe UI, Arial, sans-serif;
	font-size: 19px;
	margin-bottom: 15px;
}
.dialog-form div#users-contain,
.content #users-contain{ width: 350px; margin: 20px 0; }
.dialog-form div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
.dialog-form div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }

#nodeshot-form .submit{ float: left }
#nodeshot-form .cancel{ float: right }
#device-form-submit{ width: 100px; margin: 30px 1em 1em }

#nodeshot-form .inline-formset fieldset{
	padding: 1em;
}
#nodeshot-form .formset-form-container {
	margin: 20px 0 10px;
    padding: 1em;
    border:1px dashed orange;
}
#nodeshot-form .formset-form-container.first{
	margin-top: 0;
}
.device-id , .configuration-type {
    display: none;
}

h3 {
    color: #FFA500;
    display: block;
    font-size: 14px;
}

.signalbar{ display: inline }

#info-wrapper {
     height: 600px;
     width: 100%;
}

#table-wrapper {
    overflow:auto;
    height: 100%;
}

#confirm-new h2{
	font-size: 14px;
	margin-bottom: 15px;
}

.field-wrapper big{	font-weight: bold }
.field-wrapper{ margin: 0 0 5px !important }

#other-controls input{ position:relative; bottom:-1px; margin-right:5px }
#other-controls label, #other-controls a{ cursor: pointer }
#aside ul{ list-style: outside none }
#other-controls li{ margin: 0 0 5px }
#other-controls li.last{ margin: 15px 0 0 }
#other-controls a{
	padding-left: 20px;
	font-weight: bold;
	text-decoration: underline;
	background: transparent url(../images/arrow_right.png) no-repeat scroll 0 50%;
}
#search-address{ background-image: url(../images/magnifier.png) !important }
#stats-link{ background-image: url(../images/graph.png) !important }
#addnode{ margin-top: 10px }

#link-quality { display: block; margin: 10px 0 10px }
#link-quality li{
	height: 25px;
	line-height: 25px;
	padding: 0 0 0 30px;
	margin: 0 0 5px;
	background: transparent url(../images/etx.png) no-repeat scroll 4px 0;
}
#link-quality input{ position: relative; bottom: -2px }
#link-quality label{ cursor: pointer }
#dbmli{ background: transparent url(../images/dbm.png) no-repeat scroll 0 0 !important }
#nometricli{ background: transparent url(../images/disabled.png) no-repeat scroll 2px 1px !important }

#head-controls a{
	float: right;
	overflow: hidden;
	width: 25px;
	height:25px;
	margin-right:4px;
	text-indent: 1000px;
}
#kml-link{
	margin-right:7px !important;
	background: transparent url(../images/feed.png) no-repeat scroll 0 0;
}
#help-link{
	background: transparent url(../images/help.png) no-repeat scroll 0 0;
}
#admin-link{
	background: transparent url(../images/admin.png) no-repeat scroll 0 0;
}

#nodeshot-form .readonly{ background: #070707 !important; border: 1px solid #666666 !important}
#nodeshot-form .edit-configuration{ font-weight:bold; margin-right: 10px }

#edit-node-menu{ overflow: hidden; margin: 20px 0 20px }
#edit-node-menu li{
	float: left;
	list-style: outside none;
	margin-right: 10px
}
#edit-node-menu a{
	display: block;
	background-color: #0078a3;
	color: #fff !important;
	font-weight: bold;
	text-decoration: none;
	padding: 2px 13px;
	border: 1px solid #005b7b;
}
#edit-node-menu a:hover,#edit-node-menu a:focus{
	background-color: #2b9bc3;
}
#edit-node-menu a.active{
	background-color: transparent;
	border: 1px solid #666;
	cursor: default;
}
#delete-node-link{ float: right !important; margin: 0 !important }
#delete-node-link a{ border: 1px solid #d50000 }

#nodeshot-form #tabs ul, #advanced-info ul{
	font: normal 12px Arial, Freesans, sans-serif;
}
#nodeshot-form #tabs ul a{ color: #fff }
#nodeshot-form #tabs .ui-state-active{
	background: #000 none;
	border: 1px solid orange
}
#nodeshot-form #tabs .tab{ padding-top: 0 }

#change-password{ margin-left: 5px; text-decoration: underline; cursor: pointer }

#nodeshot-overlay .hidden, #info-window .hidden, #advanced-info .hidden{ display: none }
#nodeshot-form .formset-form-container{ overflow: hidden }
#nodeshot-form .button-wrapper{ margin-top: 20px !important; overflow: hidden }
.clear{ clear:both }
.alignright{ text-align: right }
.right{ float: right }
#nodeshot-overlay .extrapaddingtop{ padding-top: 15px }
#nodeshot-overlay .extramarginbottom{ margin-bottom: 10px !important }
#nodeshot-form .ui-state-error.extramarginbottom{ margin-bottom: 20px !important } 
#nodeshot-form .tabbed{ padding: 5px 20px 15px }

#info-window .content{
	padding-top: 15px;
	padding-bottom: 20px;
}

table.list-values{
	margin: 5px 0 20px;
	overflow: hidden;
	clear: both;
}

#tab-dist #result-row{ margin: 0 !important }

table.list-values td{
	padding: 2px 0;
}

table.list-values td.key{
	padding-right: 10px;
	font-weight: bold;
	vertical-align: top;
}

table.list-values td.valignmiddle{ padding: 12px 10px 12px 0 !important; vertical-align: middle !important }

#side-links{
	position: absolute;
	left:0;
	bottom:0;
	padding: 0 0 12px 10px;
}

#side-links .distance-link{
	display: none;
	margin-top: 17px;
}
/* this is needed for google chrome on ubuntu */
select option{ background-color: #262626 }

#side-links span{
	padding: 6px 4px 6px 7px;
	font: bold 11px Arial, Freesans, sans-serif;
	color: #fff;
	background-color: #000;
	background: rgba(0,0,0,0.7);
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#side-links b{
	color: #ffb11e;
}

#side-links b.azm{
	color: #fff;
	margin-right: 6px
}

#side-links a{
	margin: 0 3px;
	padding: 2px 4px;
	color: #fff;
	text-decoration: none;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#side-links a.link-node{
	margin: 0;
	text-decoration: underline;
}
#side-links a.link-show{ background-color: #FFA500; color: #000; display: none }
#side-links a.link-hide{ background-color: #cfcfcf; color: #000 }
#side-links a.link-save{ background-color: green; color: #fff }
#side-links a.link-remove{ background-color: red; color: #fff }

#nodeshot-overlay-inner .nomargintop{ margin: 0 0 20px !important }
#advanced-info table.list-values{ margin: 0 }
#advanced-info{ font-size: 12px; font-family: Arial,Freesans,sans-serif }
#advanced-info a{ color: #fff !important }

#advanced-info .configuration{
	padding: 10px 20px;
	border: 1px solid gray;
	border-top-width: 0;
}
#advanced-info .configuration.first{ margin-top: 10px !important; border-top-width: 1px; margin-top: 0 }
#nodeshot-overlay-inner .close{
	position: absolute;
	top: -13px;
	right: -13px;
	width: 36px;
	height: 36px;
	background: transparent url(../images/close.png) no-repeat scroll 0 0;
	cursor: pointer;
}
#node-tree-container{ border: 1px solid gray }

#show-column{
	display: none;
	position: absolute;
	top:100px;
	right:0;
	width:40px;
	height:100px;
	text-indent: -300px;
	overflow: hidden;
	padding: 3px 0 3px 3px;
	border: 1px solid #000;
	background: #fff url(../images/show.png) no-repeat scroll 3px 3px;
	cursor: pointer;
	z-index:15;
}
#gmap-search-template{ display: none }
#gmap-search h3{ line-height: 18px; margin: 0 }
#gmap-search{ padding-bottom: 3px }
#gmap-search input{ display: inline !important }
#gmap-search #gmap-address{ width: 375px; margin-right: 15px }
#gmap-address.error{ background: #e30000 none !important }
.ui-draggable{ cursor: move }

.active_nodes a .jstree-icon{
	background: transparent url(../images/marker_active_small.png) no-repeat scroll 2px -1px !important;
}

.hotspot_nodes a .jstree-icon{
	background: transparent url(../images/marker_hotspot_small.png) no-repeat scroll 2px -1px !important;
}

.potential_nodes a .jstree-icon{
	background: transparent url(../images/marker_potential_small.png) no-repeat scroll 2px -1px !important;
}

#node-tree a{ font-weight: bold }
#node-tree a.child{ font-weight: normal }

table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(../images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../images/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}


/* jQuery UI */
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px); }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
/* end clearfix */
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }
/* Interaction Cues */
.ui-state-disabled { cursor: default !important; }
/* states and images */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }
/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
/* Component containers*/
.ui-widget { font-family: Segoe UI, Arial, sans-serif; font-size: 1.1em; }
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Segoe UI, Arial, sans-serif; font-size: 1em; }
.ui-widget-content { border: 1px solid #666666; background: #000000 url(../images/ui-darkness/ui-bg_inset-soft_25_000000_1x100.png) 50% bottom repeat-x; color: #ffffff; }
.ui-widget-content a { color: #ffffff; }
.ui-widget-header { border: 1px solid #333333; background: #333333 url(../images/ui-darkness/ui-bg_gloss-wave_25_333333_500x100.png) 50% 50% repeat-x; color: #ffffff; font-weight: bold; }
.ui-widget-header a { color: #ffffff; }
/* Interaction states */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #666666; background: #555555 url(../images/ui-darkness/ui-bg_glass_20_555555_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #eeeeee; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #eeeeee; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #59b4d4; background: #0078a3 url(../images/ui-darkness/ui-bg_glass_40_0078a3_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #ffffff; }
.ui-state-hover a, .ui-state-hover a:hover, .ui-state-hover a:focus{ color: #ffffff; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #ffaf0f; background: #f58400 url(../images/ui-darkness/ui-bg_inset-soft_30_f58400_1x100.png) 50% 50% repeat-x; font-weight: bold; color: #ffffff; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #ffffff; text-decoration: none; }
.ui-widget :active { outline: none; }
/* Icons */
.ui-icon { width: 16px; height: 16px }
.ui-icon-plusthick { background: transparent url(../images/ui-darkness/plusthick.png) no-repeat scroll center center !important }
/* Misc visuals*/
.ui-corner-top { -moz-border-radius-topleft: 6px; -webkit-border-top-left-radius: 6px; border-top-left-radius: 6px; -moz-border-radius-topright: 6px; -webkit-border-top-right-radius: 6px; border-top-right-radius: 6px; }
.ui-corner-right {  -moz-border-radius-topright: 6px; -webkit-border-top-right-radius: 6px; border-top-right-radius: 6px; -moz-border-radius-bottomright: 6px; -webkit-border-bottom-right-radius: 6px; border-bottom-right-radius: 6px; }
.ui-corner-left { -moz-border-radius-topleft: 6px; -webkit-border-top-left-radius: 6px; border-top-left-radius: 6px; -moz-border-radius-bottomleft: 6px; -webkit-border-bottom-left-radius: 6px; border-bottom-left-radius: 6px; }
.ui-corner-all { -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; }

/* Overlays */
.ui-widget-overlay { background: #5c5c5c url(../images/ui-darkness/ui-bg_flat_50_5c5c5c_40x100.png) 50% 50% repeat-x; opacity: .80;filter:Alpha(Opacity=80); }
.ui-widget-shadow { margin: -7px 0 0 -7px; padding: 7px; background: #cccccc url(../images/ui-darkness/ui-bg_flat_30_cccccc_40x100.png) 50% 50% repeat-x; opacity: .60;filter:Alpha(Opacity=60); -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; }
/* jQuery UI Autocomplete 1.8.11 */
.ui-autocomplete { position: absolute; cursor: default; }	
/* workarounds */
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */
/* jQuery UI Menu 1.8.11 */ 
.ui-menu {
	list-style:none;
	padding: 2px;
	margin: 0;
	display:block;
	float: left;
}
.ui-menu .ui-menu {
	margin-top: -3px;
}
.ui-menu .ui-menu-item {
	margin:0;
	padding: 0;
	zoom: 1;
	float: left;
	clear: left;
	width: 100%;
}
.ui-menu .ui-menu-item a {
	text-decoration:none;
	display:block;
	padding:.3em .4em;
	line-height:1.5;
	font-size: 15px;
	zoom:1;
	border-radius: 0;
	-moz-border-radius: 0;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
	font-weight: normal;
	margin: -1px;
}
/* jQuery UI Button 1.8.11 */
.ui-button { display: inline-block; position: relative; padding: 0; margin-right: .1em; text-decoration: none !important; cursor: pointer; text-align: center; zoom: 1; overflow: visible; } /* the overflow property removes extra width in IE */
.ui-button-icon-only { width: 2.2em; } /* to make room for the icon, a width needs to be set here */
button.ui-button-icon-only { width: 2.4em; } /* button elements seem to need a little more width */
.ui-button-icons-only { width: 3.4em; } 
button.ui-button-icons-only { width: 3.7em; } 
/*button text element */
.ui-button .ui-button-text { display: block; line-height: 1.4;  }
.ui-button-text-only .ui-button-text { padding: .4em 1em; }
.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text { padding: .4em; text-indent: -9999999px; }
.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text { padding: .4em 1em .4em 2.1em; }
.ui-button-text-icon-secondary .ui-button-text, .ui-button-text-icons .ui-button-text { padding: .4em 2.1em .4em 1em; }
.ui-button-text-icons .ui-button-text { padding-left: 2.1em; padding-right: 2.1em; }
/* no icon support for input elements, provide padding by default */
input.ui-button { padding: .4em 1em; }
/*button icon element(s) */
.ui-button-icon-only .ui-icon, .ui-button-text-icon-primary .ui-icon, .ui-button-text-icon-secondary .ui-icon, .ui-button-text-icons .ui-icon, .ui-button-icons-only .ui-icon { position: absolute; top: 50%; margin-top: -8px; }
.ui-button-icon-only .ui-icon { left: 50%; margin-left: -8px; }
.ui-button-text-icon-primary .ui-button-icon-primary, .ui-button-text-icons .ui-button-icon-primary, .ui-button-icons-only .ui-button-icon-primary { left: .5em; }
.ui-button-text-icon-secondary .ui-button-icon-secondary, .ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary { right: .5em; }
.ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary { right: .5em; }
/*button sets*/
.ui-buttonset { margin-right: 7px; }
.ui-buttonset .ui-button { margin-left: 0; margin-right: -.3em; }
/* workarounds */
button.ui-button::-moz-focus-inner { border: 0; padding: 0; } /* reset extra padding in Firefox */
.ui-tabs { position: relative; padding: .2em; zoom: 1; } /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav { margin: 0; padding: .2em .2em 0; }
.ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; top: 1px; margin: 0 .2em 1px 0; border-bottom: 0 !important; padding: 0; white-space: nowrap; }
.ui-tabs .ui-tabs-nav li a { float: left; padding: .5em 1em; text-decoration: none; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0; padding-bottom: 1px; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { display: block; border-width: 0; padding: 1em 1.4em; background: none; }
.ui-tabs .ui-tabs-hide { display: none !important; }

.status-on, .status-off {
    width: 15px;    
    height: 15px;    
    background : transparent url('../images/onoffstatus.gif') no-repeat -15px 0px scroll;
    margin: auto;
    text-indent:-100px;
    overflow: hidden;
}

.status-off { background-position: 0px 0px }

.jstree-classic li, .jstree-classic ins, #vakata-dragged.jstree-classic .jstree-ok,
#vakata-dragged.jstree-classic .jstree-invalid, #jstree-marker.jstree-classic{
	 background: transparent url("../images/jstree/d.png") no-repeat scroll 0 0;
}

.jstree-classic li { background-position:-90px 0; background-repeat:repeat-y;  }
.jstree-classic li.jstree-last { background:transparent; }
.jstree-classic .jstree-open > ins { background-position:-72px 0; }
.jstree-classic .jstree-closed > ins { background-position:-54px 0; }
.jstree-classic .jstree-leaf > ins { background-position:-36px 0; }

.jstree-classic .jstree-hovered { background:#e7f4f9; border:1px solid #e7f4f9; padding:0 2px 0 1px; }
.jstree-classic .jstree-clicked { background:navy; border:1px solid navy; padding:0 2px 0 1px; color:white; }
.jstree-classic a.jstree-loading .jstree-icon { background:url("../images/jstree/throbber.gif") center center no-repeat !important; }

.jstree-classic.jstree-focused { background:white; }

.jstree-classic .jstree-no-dots li, 
.jstree-classic .jstree-no-dots .jstree-leaf > ins { background:transparent; }
.jstree-classic .jstree-no-dots .jstree-open > ins { background-position:-18px 0; }
.jstree-classic .jstree-no-dots .jstree-closed > ins { background-position:0 0; }

.jstree-classic .jstree-no-icons a .jstree-icon { display:none; }

.jstree-classic .jstree-search { font-style:italic; }

.jstree-classic .jstree-no-icons .jstree-checkbox { display:inline-block; }
.jstree-classic .jstree-no-checkboxes .jstree-checkbox { display:none !important; }
.jstree-classic .jstree-checked > a > .jstree-checkbox { background-position:-38px -19px; }
.jstree-classic .jstree-unchecked > a > .jstree-checkbox { background-position:-2px -19px; }
.jstree-classic .jstree-undetermined > a > .jstree-checkbox { background-position:-20px -19px; }
.jstree-classic .jstree-checked > a > .jstree-checkbox:hover { background-position:-38px -37px; }
.jstree-classic .jstree-unchecked > a > .jstree-checkbox:hover { background-position:-2px -37px; }
.jstree-classic .jstree-undetermined > a > .jstree-checkbox:hover { background-position:-20px -37px; }

#vakata-dragged.jstree-classic ins { background:transparent !important; }
#vakata-dragged.jstree-classic .jstree-ok { background-position: -2px -53px !important; }
#vakata-dragged.jstree-classic .jstree-invalid { background-position: -18px -53px !important; }
#jstree-marker.jstree-classic { background-position: -41px -57px !important; }

.jstree-classic a.jstree-search { color:aqua; }

#vakata-contextmenu.jstree-classic-context, 
#vakata-contextmenu.jstree-classic-context li ul { background:#f0f0f0; border:1px solid #979797; -moz-box-shadow: 1px 1px 2px #999; -webkit-box-shadow: 1px 1px 2px #999; box-shadow: 1px 1px 2px #999; }
#vakata-contextmenu.jstree-classic-context li { }
#vakata-contextmenu.jstree-classic-context a { color:black; }
#vakata-contextmenu.jstree-classic-context a:hover, 
#vakata-contextmenu.jstree-classic-context .vakata-hover > a { padding:0 5px; background:#e8eff7; border:1px solid #aecff7; color:black; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; }
#vakata-contextmenu.jstree-classic-context li.jstree-contextmenu-disabled a, 
#vakata-contextmenu.jstree-classic-context li.jstree-contextmenu-disabled a:hover { color:silver; background:transparent; border:0; padding:1px 4px; }
#vakata-contextmenu.jstree-classic-context li.vakata-separator { background:white; border-top:1px solid #e0e0e0; margin:0; }
#vakata-contextmenu.jstree-classic-context li ul { margin-left:-4px; }