html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address,
del, dfn, font, img, ins, kbd, q, s, samp,
strike, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, textarea, input,
table, tbody, tfoot, thead, tr, td, h1, h2, h3, h4, h5, h6,
th, caption {
	margin:	 0;
	padding: 0;
	border:	 0;
}
article, aside, figure, footer, header, hgroup, menu, nav, section { display:block;margin:0;padding:0 }

.accessibility{ position:absolute;top:-9999px }

html, body { height: 100% }

#container{
    margin: 0 auto;
    height: 100%;
    min-height: 500px;
    width: 100%;
    background: #fff;
    font-family: sans-serif;
    font-size: 14px;
    color: #000;
}

#header{
	min-width:950px;
    background: #000;
    color: #fff;
    overflow: hidden;
    height: 35px;
}

#header h1{ 
    display: inline;
    padding-left: 6px;
    color: #FFA500;
    font: bold 28px "Arial", sans-serif;
    letter-spacing:-1px;
}

#content-container{
    float: left;
    width: 100%;
}

#content{
    float: left;
    width: 74%;
    min-height:500px;
    padding: 0;
    margin: 0;
}

#content h2, #overlay h2 { margin: 0; }

#aside{
    float: right;
    width: 24%;
    padding: 0;
    margin: 0;
    color: #000;
    line-height:24px;
}

#aside .wrapper{
	padding: 8px 0 0 8px
}

#aside .inner{
	padding: 10px 0 10px 3px;
}

#aside h3 { margin: 0 }

#map_canvas { height:700px }

#network-stat{
	display: inline;
	position: relative;
	top: -4px;
	padding-left: 15px;
    line-height: 35px;
    font-size: 12px;
    text-align: left;
}

#network-stat span{ margin: 0 3px }

#head-controls
{
	width: 37.5%;
	padding: 5px 5px 0 0;
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
}

#search {
	float: right;
	position: relative;
	top: -1px;
	padding-top: 3px;
	padding-bottom: 4px;
	margin-left: 5px;
    text-align: center;
    vertical-align: top;
    width: 288px;
    color: #a1a1a1;
    font-style: italic;
}

#choices{ margin: 0 auto 10px }

#node-tree-container
{
    width: 280px;
    height: 350px;
    overflow: auto;
    margin-top: 5px;
}

body#overlay-container{
	padding: 20px 0;
	background-color: gray !important;
}

#nodeshot-overlay{
	font: normal 12px Arial, Freesans, sans-serif;
}

#nodeshot-overlay-inner{
	position: relative;
	margin: 20px auto;
	padding: 20px;
	width: 550px;
    border: 1px solid #666666;
    background: #000000;
	z-index:11;
	-moz-border-radius: 6px; border-radius: 6px;
}
#nodeshot-overlay-inner.larger{ width:650px }
#nodeshot-overlay-inner.narrower{ width:480px }

/* DLG */
#nodeshot-overlay .content, #info-window .content {
    color: #fff;
    font: normal 12px/24px Arial, Freesans, sans-serif;
}
#info-window .content{ line-height: 20px }
.dialog-form form,
#nodeshot-overlay .content form{ overflow: hidden }
.dialog-form label, .dialog-form input,
.content label, .content input { display:block; }

#nodeshot-overlay .content p,
#info-window .content p{
	margin: 10px 0 0;
}

#nodeshot-overlay .text,
#nodeshot-form .formset-form-container input,
#nodeshot-form .formset-form-container select,
#info-window .text{
	margin: 0;
	width: 528px;
	font: normal 13px Arial, Freesans, sans-serif;
	padding: 5px 10px;
	border: 1px solid #666;
	background-color: #262626;
	color: #fff;
	-moz-border-radius: 6px; border-radius: 6px;
}
#nodeshot-form select.text,
#nodeshot-form .formset-form-container select{
	width: auto;
	padding:0;
}
#info-window .text{
	display: inline;
	width: auto;
	min-width: 210px;
	max-width: 300px;
	font-size: 12px;
}
#nodeshot-form .formset-form-container input{
	width: 502px;
}
#nodeshot-overlay-inner.narrower .text{
	width:458px;
}

#nodeshot-overlay .content a{
	color: #9bbfff;
}
#nodeshot-overlay .content a:hover{
	color: #fff;
	text-decoration: none;
}

#confirm-new a, #nodeshot-modal .button{
	float: left;
	margin-right: 10px;
	color: #fff;
	padding: 6px 15px;
	border-radius:3px;
	-moz-border-radius:3px;
	text-decoration: none;
	font: bold 12px Arial, Freesans, sans-serof;
	cursor: pointer;
}

.button, #nodeshot-form .add-row{
	position: relative;
	padding: 5px 12px;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	background: #555 url(ui-darkness/images/ui-bg_glass_20_555555_1x400.png) 50% 50% repeat-x;
	color: #EEE;
	font: bold 13px "Segoe UI", Arial, sans-serif;
	border: 1px solid #777777;
	zoom: 1;
	-moz-border-radius: 5px; border-radius: 5px;
}
.button.link{
	-moz-border-radius: 3px; border-radius: 3px;
	margin-right: 6px;
}
.button.cancel{ color: #c6c6c6 }
a.button{ color: #fff !important }
#nodeshot-modal .button{ margin-top: 10px; border: 0 none }

#nodeshot-form .add-row{
	background: #006601 none;
	color: #fff !important;
	border: 1px solid #006601;
}

#nodeshot-overlay #nodeshot-form .delete-row,
#advanced-info .toggle-info{
	float: right;
	color: #fff;
	padding: 0 7px;
	font-weight: bold;
	text-decoration: none;
	background: #d50000;
	-moz-border-radius: 5px; border-radius: 5px;
}
#nodeshot-overlay #nodeshot-form .delete-row{
	position: relative;
	bottom: -4px;
}
#advanced-info .toggle-info{
	float: none;
	padding: 3px 7px;
	cursor: pointer;
}
.green{ background: #006601 !important }
.red{ background: #d50000 !important }
.purple{ color: #5f0060; }

.button:hover,
#nodeshot-overlay .text:focus,
#nodeshot-form .formset-form-container input:focus,
#nodeshot-form .formset-form-container select:focus,
#addnode:hover{
	color: #fff;
	border: 1px solid #59b4d4;
	background: #0078a3 url(ui-darkness/images/ui-bg_glass_40_0078a3_1x400.png) 50% 50% repeat-x;
	outline: 0 none;
	font-weight: bold;
}
#addnode:hover .ui-icon{
	background-image: url(ui-darkness/images/ui-icons_ffffff_256x240.png);
}
#nodeshot-form a.add-row:hover,a.green:hover{ background-color: #009001 !important }
#nodeshot-overlay #nodeshot-form .delete-row:hover, a.red:hover{ background-color: #ff2f2f !important }

#nodeshot-form .ui-state-error,
#nodeshot-form .success{
	display: block;
	padding: 0 7px;
	margin: 2px 0 9px;
	border: 1px solid #ffb73d;
	background: #ffc73d url(ui-darkness/images/ui-bg_glass_40_ffc73d_1x400.png) 50% 50% repeat-x;
	color: #111111;
}
#nodeshot-form .success{
	border: 1px solid #006601;
	background: #006601 none;
	color: #fff
}

#nodeshot-form fieldset { padding:0; border:0; margin-top:10px }
#nodeshot-form .form-tips {font-size: 13px}

.content h1 {
	font-family: Segoe UI, Arial, sans-serif;
	font-size: 19px;
	margin-bottom: 15px;
}
.dialog-form div#users-contain,
.content #users-contain{ width: 350px; margin: 20px 0; }
.dialog-form div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
.dialog-form div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
/*.dialog-form .ui-dialog .ui-state-error,
.content .ui-state-error { padding: .3em; }
.dialog-form .validateTips,
.content .validateTips { border: 1px solid transparent; padding: 0.3em; }
.dialog-form .errorlist,
.content .errorlist {
    list-style-type: none;
    display: inline;
}*/

#nodeshot-form .submit{ float: left }
#nodeshot-form .cancel{ float: right }
#device-form-submit{ width: 100px; margin: 30px 1em 1em }

#nodeshot-form .inline-formset fieldset{
	padding: 1em;
}
#nodeshot-form .formset-form-container {
	margin: 20px 0 10px;
    padding: 1em;
    border:1px dashed orange;
}
#nodeshot-form .formset-form-container.first{
	margin-top: 0;
}
.device-id , .configuration-type {
    display: none;
}

h3 {
    color: #FFA500;
    display: block;
    font-size: 14px;
}

#addhelper {
    display: block;
    font-style: italic;
}

.status-on {
    width: 15px;    
    height: 15px;    
    background : transparent url('../images/onoffstatus.gif') no-repeat -15px 0px scroll;
    margin: auto;
}

.status-off {
    width: 15px;    
    height: 15px;    
    background : transparent url('../images/onoffstatus.gif') no-repeat 0px 0px scroll;
    margin: auto;
}

.signalbar{
    display: inline;
}

#info-wrapper {
     height: 600px;
     width: 100%;
}

/*#info-window {
    width: 500px; 
    height: 300px;
}*/

#node-info-box {
    display: none; 
    background-color: #FFFFFF;
    /*
     * left:0px; 
    bottom:0px; 
    position: relative;*/
    /* margin-top: -300px;*/ /* negative value of footer height */
    /*clear:both;*/
}

#table-wrapper {
    overflow:auto;
    height: 100%;
    /* padding-bottom: 300px; */
}

#rrd-graph_ds_cb {
    color: #000000;
}

#confirm-new h2{
	font-size: 14px;
	margin-bottom: 15px;
}

.field-wrapper big{	font-weight: bold }
.field-wrapper{ margin: 0 0 5px !important }

#nodeshot-modal-mask{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	z-index:10;
	display:none
}

#nodeshot-modal{
	position: absolute;
	padding: 15px 25px;
	top:30%;
	left:30%;
	width:400px;
	background:#000;
	color:#fff;
	font:normal 13px/25px Arial, sans-serif;
	border:1px solid #fff;
	border-radius:3px;
	-moz-border-radius:3px;
	z-index:20;
	display:none
}
#nodeshot-ajaxloader{ position: absolute; top: -9999px; z-index: 100 }
#nodeshot-overlay{ position:absolute;top:0;left:0;width:100%;height:100%;z-index:11 }

#other-controls input{ position:relative; bottom:-1px; margin-right:5px }
#other-controls label, #other-controls a{ cursor: pointer }
#aside ul{ list-style: outside none }
#other-controls li{ margin: 0 0 5px }
#other-controls li.last{ margin: 15px 0 0 }
#other-controls a{
	padding-left: 20px;
	font-weight: bold;
	text-decoration: underline;
	background: transparent url(../images/arrow_right.png) no-repeat scroll 0 50%;
}
#search-address{ background-image: url(../images/magnifier.png) !important }
#addnode{ margin-top: 10px }

#link-quality { display: block; margin: 10px 0 10px }
#link-quality li{
	height: 25px;
	line-height: 25px;
	padding: 0 0 0 30px;
	margin: 0 0 5px;
	background: transparent url(../images/etx.png) no-repeat scroll 4px 0;
}
#link-quality input{ position: relative; bottom: -2px }
#link-quality label{ cursor: pointer }
#dbmli{ background: transparent url(../images/dbm.png) no-repeat scroll 0 0 !important }

.top-icon {
    width: 25px;
    height: 25px;
}

#nodeshot-form .readonly{ background: #070707 !important; border: 1px solid #666666 !important}
#nodeshot-form .edit-configuration{ font-weight:bold; margin-right: 10px }

#edit-node-menu{ overflow: hidden; margin: 20px 0 20px }
#edit-node-menu li{
	float: left;
	list-style: outside none;
	margin-right: 10px
}
#edit-node-menu a{
	display: block;
	background-color: #0078a3;
	color: #fff !important;
	font-weight: bold;
	text-decoration: none;
	padding: 2px 13px;
	border: 1px solid #005b7b;
}
#edit-node-menu a:hover{
	background-color: #2b9bc3;
}
#edit-node-menu a.active{
	background-color: transparent;
	border: 1px solid #666;
	cursor: default;
}
#delete-node-link{ float: right !important; margin: 0 !important }
#delete-node-link a{ border: 1px solid #d50000 }

#nodeshot-form #tabs ul, #advanced-info ul{
	font: normal 12px Arial, Freesans, sans-serif;
}
#nodeshot-form #tabs ul a{ color: #fff }
#nodeshot-form #tabs .ui-state-active{
	background: #000 none;
	border: 1px solid orange
}
#nodeshot-form #tabs .tab{ padding-top: 0 }

#change-password{ margin-left: 5px; text-decoration: underline; cursor: pointer }

#nodeshot-overlay .hidden, #info-window .hidden, #advanced-info .hidden{ display: none }
#nodeshot-form .formset-form-container{ overflow: hidden }
#nodeshot-form .button-wrapper{ margin-top: 20px !important; overflow: hidden }
.clear{ clear:both }
.alignright{ text-align: right }
.right{ float: right }
#nodeshot-overlay .extrapaddingtop{ padding-top: 15px }
#nodeshot-overlay .extramarginbottom{ margin-bottom: 10px !important }
#nodeshot-form .ui-state-error.extramarginbottom{ margin-bottom: 20px !important } 
#nodeshot-form .tabbed{ padding: 5px 20px 15px }

#info-window .content{
	padding-top: 15px;
	padding-bottom: 20px;
}

table.list-values{
	margin: 5px 0 20px;
	overflow: hidden;
	clear: both;
}

table.list-values td{
	padding: 2px 0;
}

table.list-values td.key{
	padding-right: 10px;
	font-weight: bold;
	vertical-align: top;
}

table.list-values td.valignmiddle{ padding: 12px 10px 12px 0 !important; vertical-align: middle !important }

#side-links{
	position: absolute;
	left:0;
	bottom:0;
	padding: 0 0 12px 10px;
}

#side-links .distance-link{
	display: none;
	margin-top: 17px;
}

#side-links span{
	padding: 6px 4px 6px 7px;
	font: bold 11px Arial, Freesans, sans-serif;
	color: #fff;
	background-color: #000;
	background: rgba(0,0,0,0.7);
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#side-links b{
	color: #ffb11e;
	margin-right: 6px
}

#side-links a{
	margin: 0 3px;
	padding: 2px 4px;
	color: #fff;
	text-decoration: none;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#side-links a.link-node{
	margin: 0;
	text-decoration: underline;
}
#side-links a.link-show{ background-color: #FFA500; color: #000; display: none }
#side-links a.link-hide{ background-color: #cfcfcf; color: #000 }
#side-links a.link-save{ background-color: green; color: #fff }
#side-links a.link-remove{ background-color: red; color: #fff }

#nodeshot-overlay-inner .nomargintop{ margin: 0 0 20px !important }
#advanced-info table.list-values{ margin: 0 }
#advanced-info{ font-size: 12px; font-family: Arial,Freesans,sans-serif }
#advanced-info a{ color: #fff !important }

#advanced-info .configuration{
	padding: 10px 20px;
	border: 1px solid gray;
	border-top-width: 0;
}
#advanced-info .configuration.first{ margin-top: 10px !important; border-top-width: 1px; margin-top: 0 }
#nodeshot-overlay-inner .close{
	position: absolute;
	top: -13px;
	right: -13px;
	width: 36px;
	height: 36px;
	background: transparent url(../images/close.png) no-repeat scroll 0 0;
	cursor: pointer;
}
#node-tree-container{ border: 1px solid gray }

#show-column{
	display: none;
	position: absolute;
	top:100px;
	right:0;
	width:40px;
	height:100px;
	text-indent: -300px;
	overflow: hidden;
	padding: 3px 0 3px 3px;
	border: 1px solid #000;
	background: #fff url(../images/show.png) no-repeat scroll 3px 3px;
	cursor: pointer;
	z-index:15;
}
#gmap-search-template{ display: none }
#gmap-search h3{ line-height: 18px; margin: 0 }
#gmap-search{ padding-bottom: 3px }
#gmap-search input{ display: inline !important }
#gmap-search #gmap-address{ width: 380px; margin-right: 15px }
#gmap-address.error{ background: #e30000 none !important }
.ui-draggable{ cursor: move }

.active_nodes a .jstree-icon{
	background: transparent url(../images/marker_active_small.png) no-repeat scroll 2px -1px !important;
}

.hotspot_nodes a .jstree-icon{
	background: transparent url(../images/marker_hotspot_small.png) no-repeat scroll 2px -1px !important;
}

.potential_nodes a .jstree-icon{
	background: transparent url(../images/marker_potential_small.png) no-repeat scroll 2px -1px !important;
}

#node-tree a{ font-weight: bold }
#node-tree a.child{ font-weight: normal }