#ignore the follow paths
*.pyc
.komodotools/
projects/ninux/ninux/settings.py
projects/ninux/ninux/settings_test.py
*.komodoproject
*.DS_Store
projects/ninux/ninux/media/*
projects/ninux/ninux/debug.log
*~
nodeshot/core/zones/migrations/
