#ignore the follow paths
*.pyc
.komodotools/
projects/ninux/ninux/settings.py
*.komodoproject
*.DS_Store
projects/ninux/ninux/media/nodes/*
projects/ninux/ninux/media/external/*
projects/ninux/ninux/debug.log
*~
._*
nodeshot/core/zones/migrations/
