#ignore the follow paths
*.pyc
.komodotools/
projects/ninux/ninux/settings.py
*.komodoproject
*.DS_Store
python/
projects/
*~
._*
activate
runserver
TODO.txt
nodeshot.websockets.private
nodeshot.websockets.public
celerybeat.pid
celerybeat-schedule
runtests
coverage
load_fixtures.sh
startup.py
__GRAFICA
celery.log
projects/ninux/server.py
/static/
/tests/ci/static/
cesium/
cache/
*.log
!/tests/ci/settings.py
local_settings.py
/tests/ci/media/
.coverage
/build
/dist
nodeshot.egg-info/
deploy
docs/_*
/manage.py
