# Nodeshot dependencies
# install python-virtualenv
# create a virtual environment (be sure to include the system default psycpog2 db drivers)
# run pip install -r requirements

psycopg2
Django==1.6.10

# python libraries
Pillow
simplejson
pytz
mimeparse
python-dateutil
six
wsgiref
requests

# better admin
django-grappelli==2.5.3
django-filebrowser==3.5.7
django-leaflet==0.15.2

# RESTful API and API documentation
djangorestframework==2.4.4
drf-extensions==0.2.5
django-rest-swagger
markdown
djangorestframework-gis
djangorestframework-hstore

# authentication with social networks
django-social-auth==0.7.28

# versionable content
django-reversion==1.8.2

# asynchronous tasks
celery==3.1.17
django-celery-email

# migrations
south

# django-cors-headers
django-cors-headers==1.0

# websockets
tornado

# cache
django-redis

# fixture management
django-smuggler==0.4.1

# networking
netaddr
django-netfields==0.2.2
netengine==0.1.alpha

# dev utils
bpython
django-extensions
django-debug-toolbar

# monitoring
raven

# translation
django-rosetta
