# Nodeshot dependencies
# install python-virtualenv
# create a virtual environment (be sure to include the system default psycpog2 db drivers)
# run pip install -r requirements

psycopg2
Django==1.6.3

# python libraries
Pillow
simplejson
pytz
mimeparse
python-dateutil
six
wsgiref
requests

# better admin
django-grappelli==2.5.3
django-filebrowser==3.5.6

# geodjango improved widgets
django-olwidget

# RESTful API and API documentation
djangorestframework==2.3.13
django-rest-swagger
markdown
djangorestframework-gis

# email confirmation with configurable user model
-e git+https://github.com/nemesisdesign/django-email-confirmation.git#egg=email_confirmation

# authentication with social networks
django-social-auth

# versionable content
django-reversion==1.8

# asynchronous tasks
celery==3.1.11
django-celery-email

# Postgres HSTORE support
django_hstore

# fixture management
# django-smuggler==0.4.1
-e git+https://github.com/semente/django-smuggler#egg=django-smuggler

# migrations
south

# django-cors-headers
django-cors-headers==0.12
