[run]
omit =
    /*/tests/*
    /*/__init__.py
    /*/social_auth_extra/*
    /*/migrations/*
    /*/websockets/*
    /*/connectors/*
    /*/oldimporter/*
    /*/batman/*
    /*/olsr/*
    /*/dashboard.py
    /*/monitor/*
    /*/planning/*
