<!DOCTYPE html>{% load i18n %}
<html>
<head>
    <title>Nodeshot</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <link href="{{ STATIC_URL }}ui/lib/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}ui/lib/css/bootstrap.switch.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}ui/lib/css/scroller.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}ui/nodeshot/css/nodeshot-layout.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}ui/nodeshot/css/nodeshot-colors.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}ui/nodeshot/css/nodeshot-typography.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}ui/nodeshot/css/nodeshot-typography.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}ui/fontello/css/nodeshot.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}ui/fontello/css/animation.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    
    <!-- leaflet -->
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
    
    <!-- cesium -->
    <link href="{{ STATIC_URL }}ui/cesium/Widgets/widgets.css" rel="stylesheet">
    <script src="{{ STATIC_URL }}ui/cesium/Cesium.js"></script>
</head>
<body style="overflow:hidden">
    <div id="preloader">
        <p class="inner">
            <span class="icon-loading animate-spin"></span> {% trans 'Loading' %} &hellip;
        </p>
    </div>
    <header>
        <nav id="top-bar">
            <h1><a href="#">Nodeshot</a></h1>
            
            <div id="general-search">
                <input type="text" id="general-search-input" placeholder="Search for data">
                <span class="icon-search">&nbsp;</span>
                <span class="icon-spinner animate-spin"></span>
                <ul class="dropdown-menu">
                    <li><a href="#" class="icon-pin">Zioproto Gallia</a></li>
                    <li><a href="#" class="icon-pin">Hotspot Gallicano</a></li>
                    <li><a href="#" class="icon-pin">Pisa::Galluppi</a></li>
                    <li><a href="#" class="icon-user">galluswifi</a></li>
                    <li><a href="#" class="icon-user">Alberto gallo</a></li>
                </ul>
            </div>
            
            <ul id="main-actions">
                <li>
                    <a href="#" class="icon-search">&nbsp;</a>
                </li>
                {% if request.user.is_authenticated %}
                <li>
                    <a href="#" class="notifications">
                        <span class="icon-globe">&nbsp;</span>
                        &nbsp;
                        <span class="bg">0</span>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="icon-user"></span>
                        <span class="text" id="username-js">{{ request.user.username }}</span>
                        <span class="caret"></span>
                    </a>
                    
                    <ul class="dropdown-menu">
                        <li><a href="#"><span class="icon-user"></span>{% trans 'My profile' %}</a></li>
                        <li><a href="#"><span class="icon-wrench"></span>{% trans 'Settings' %}</a></li>
                        <li><a href="#"><span class="icon-off"></span>{% trans 'Logout' %}</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" id="mobile-nav" class="icon-menu"
                       data-toggle="collapse"
                       data-target="#ns-top-nav-links">&nbsp;</a>
                </li>
                {% else %}
                <li><a href="#"><span class="icon-user-add"></span><span class="text">{% trans 'Sign up' %}</span></a></li>
                <li><a href="#"><span class="icon-user"></span><span class="text">{% trans 'Sign in' %}</span></a></li>
                {% endif %}
            </ul>
            <div id="notifications">
                <span class="arrow"></span>
                <div class="header">
                    <div class="left">
                        {% trans 'Notifications' %}
                    </div>
                    <div class="right">
                        <a href="#">{% trans 'See all' %}</a> <span>-</span>
                        <a href="#">{% trans 'Settings' %}</a>
                    </div>
                </div>
                <div class="scroller">
                    <ul>
                        <li class="unread">
                            <span class="icon-pin"></span>
                            <p class="message"><strong>ZioProto</strong> commented on your node <strong>Pomezia</strong>: "daje!"</p>
                            <p class="time">12 hours ago</p>
                        </li>
                        <li class="unread">
                            <span class="icon-pin"></span>
                            <p class="message">The status of your node <strong>Pomezia</strong> has changed from <strong>"proposed"</strong> to <strong>"approved"</strong></p>
                            <p class="time">yesterday</p>
                        </li>
                        <li class="unread">
                            <span class="icon-user"></span>
                            <p class="message"><strong>Some event</strong> has just happened</p>
                            <p class="time">Jan 24th 2014</p>
                        </li>
                        <li class="read">
                            <span class="icon-mail"></span>
                            <p class="message">Some <strong> other event</strong> has just happened</p>
                            <p class="time">Jan 24th 2014</p>
                        </li>
                        <li class="read">
                            <span class="icon-pin"></span>
                            <p class="message"><strong>ZioProto</strong> commented on your node <strong>Pomezia</strong>: "daje!"</p>
                            <p class="time">12 hours ago</p>
                        </li>
                        <li class="read">
                            <span class="icon-pin"></span>
                            <p class="message"><strong>ZioProto</strong> commented on your node <strong>Pomezia</strong>: "daje!"</p>
                            <p class="time">12 hours ago</p>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <nav id="nav-bar" class="navbar navbar-inverse" role="navigation">
            <div class="collapse navbar-collapse" id="ns-top-nav-links">
                <ul class="nav navbar-nav">
                    <li><a href="#/pages/home"><span class="icon-squares"></span>Dashboard</a></li>
                    <li><a href="#/map"><span class="icon-globe"></span>Map</a></li>
                    <li><a href="#"><span class="icon-nodes"></span>Nodes</a></li>
                    <li><a href="#"><span class="icon-layer"></span>Layers</a></li>
                    <li><a href="#"><span class="icon-chart-bar"></span>Statistics</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="icon-info-circle"></span>About
                            <span class="caret"></span>
                        </a>
            
                        <ul class="dropdown-menu">
                            <li><a href="#/pages/terms-of-service">Terms of services</a></li>
                            <li><a href="#/pages/privacy-policy">Privacy Policy</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="icon-plus-squared"></span>More
                            <span class="caret"></span>
                        </a>
            
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    {% block breadcrumb %}
    <ol class="breadcrumb center-stage visible-xs invert" id="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li class="active">Something</li>
    </ol>
    {% endblock %}
    
    <div id="body">
    {% block body %}{% endblock %}
    </div>
    
    <script id="page-template" type="text/template">
        <h1><%= title %></h1>
        <%= content %>
    </script>
    
    <script id="map-template" type="text/template">
        {% include 'includes/map.html' %}
    </script>
    
    <script id="loading-template" type="text/template">
        <div id="loading" class="overlay loading">
            <span class="icon-loading animate-spin"></span>
            <span class="text">Loading &hellip;</span>
            <a class="icon-close" title="cancel operation"></a>
        </div>
    </script>
    
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="{{ STATIC_URL }}ui/lib/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}ui/lib/js/bootstrap.switch.js"></script>
    <script src="{{ STATIC_URL }}ui/lib/js/pwstrength.js"></script>
    <script src="{{ STATIC_URL }}ui/lib/js/scroller.min.js"></script>
    
    <script src="{{ STATIC_URL }}ui/lib/js/underscore.min.js"></script>
    <script src="{{ STATIC_URL }}ui/lib/js/backbone.min.js"></script>
    <script src="{{ STATIC_URL }}ui/lib/js/backbone.marionette.min.js"></script>
    
    <script src="{{ STATIC_URL }}ui/nodeshot/js/app.js"></script>
    <script src="{{ STATIC_URL }}ui/nodeshot/js/nodeshot.js"></script>
</body>
</html>