<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>{% load i18n %}
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="robots" content="noindex, nofollow" />
	<title>{% trans '500 Internal Server Error' %}</title>
	<style type="text/css">
	    body { background: #000; font: normal 14px/20px "Arial", "Helvetica", "FreeSans", "Utkal", "Garuda", "Nimbus Sans NL", sans-serif; }
	    #container{ width: 600px; margin: 40px auto 0; padding: 40px 40px 30px; background-color: white; text-align: left }
	    h1 { margin: 0; font: bold 30px "Georgia", "Nimbus Roman No9 L", "Century Schoolbook L", "Norasi", "Rekha", serif; color: #000 }
	    p { margin: 10px 0 }
	</style>
</head>
<body>
    <div id="container">
        <h1>{% trans "..Ops! 500 Internal Server Error" %}</h1>
        <p>{% trans "We'are <strong>experiencing technical problems</strong>, probably we are working on the website for mantainance or an unplanned event has happened." %}</p>
        <p>{% trans "We apologize for the inconvenient and we'll work on the problem to fix it as soon as possible." %}</p>
    </div>
</body>
</html>