<!DOCTYPE html>{% load i18n %}
<html>
<head>
    <meta charset="utf-8" />
    <title>{{ settings.HTML_TITLE_INDEX }}</title>
    {% if DEBUG %}<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL}}css/base-uncompressed.css" />{% else %}<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL}}css/base.css" />{% endif %}
    <!--[if lte IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <base href="{% url nodeshot.views.index %}" />
    <meta name="robots" content="{{ settings.META_ROBOTS }}" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="shortcut icon" href="{{ MEDIA_URL }}images/favicon.png" />
</head>
<body>
    <div id="loading"></div>
    <div id="nodeshot-mask" class="initial"><noscript>{% trans 'Javascript enabled is reqired for this website.' %}</noscript></div>
    <div id="container">
        <header id="header">                
            <h1>{{ SITE.name }}</h1>
            <p id="network-stat">
                {% if stat and settings.SHOW_STATISTICS %}
                <span><strong>{% trans 'Active Nodes' %}:</strong> {{ stat.active_nodes }}</span>
                <span><strong>{% trans 'Hotspots: ' %}</strong> {{ stat.hotspots }}</span>
                <span><strong>{% trans 'Potential Nodes' %}:</strong> {{ stat.potential_nodes }}</span>
                <span><strong>{% trans 'Active Links' %}:</strong> {{ stat.links }} ({{ stat.km }} km)</span>
                {% endif %}
            </p>
            <div id="head-controls">
                <input id="search" class="ui-corner-all" value="{% trans 'Search for a node, device, IP, MAC' %}" />
                {% if settings.SHOW_ADMIN_LINK %}<a href="{% url admin:index %}" title="{% trans 'Administration' %}" id="admin-link">admin</a>{% endif %}
                {% if settings.HELP_URL %}<a href="{{ settings.HELP_URL }}" title="{% trans 'Help' %}" id="help-link">help</a>{% endif %}
                {% if settings.SHOW_KML_LINK %}<a href="{% url nodeshot_generate_kml %}" title="{% trans 'KML Feed' %}" id="kml-link">kml</a>{% endif %}
            </div>
        </header>
        <section id="content-container">
            <article id="content">
                <div id="map_canvas"></div>
                <div id="side-links"></div>
            </article>
            <aside id="aside">
                <div class="wrapper">
                    <nav id="choices">
                        <input type="radio" id="radio1" name="view-radio" value="map" checked="checked" /><label for="radio1">{% trans 'Map' %}</label>
                        <input type="radio" id="radio2" name="view-radio" value="info" /><label for="radio2">{% trans 'Info' %}</label>
                        {% if settings.TAB3 %}<input type="radio" id="radio3" name="view-radio" value="tab3" /><label for="radio3">{{ settings.TAB3 }}</label>{% endif %}
                        {% if settings.TAB4 %}<input type="radio" id="radio4" name="view-radio" value="tab4" /><label for="radio4">{{ settings.TAB4 }}</label>{% endif %}
                    </nav>
                    <p>{{ settings.WELCOME_TEXT }}</p>
                    <button id="addnode" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary">
                        <span class="ui-button-icon-primary ui-icon ui-icon-plusthick"></span>
                        <span class="ui-button-text maponly">{% trans 'Add a new node' %}</span>
                    </button>
                    
                    <div class="inner">
                        <ul id="other-controls">
                            <li><a id="hide-side">{% trans 'Hide this column' %}</a></li>
                            <li class="maponly"><a id="search-address">{% trans 'Search for an address' %}</a></li>
                            <li class="last maponly"><input type="checkbox" id="potential" checked="checked" /><label for="potential">{% trans 'Show potential nodes' %}</label></li>
                        </ul>
                        
                        <div id="link-quality" class="maponly">
                            {% trans 'Link quality calculation' %}:
                            <ul>
                                <li id="nometricli"><input type="radio" id="nometric" name="link-quality-selector" value="nometric" {% if settings.LINK_QUALITY == 'nometric' %}checked="checked"{% endif %} /> <label for="nometric">{% trans 'Disabled' %}</label></li>
                                <li><input type="radio" id="etx" name="link-quality-selector" value="etx" {% if settings.LINK_QUALITY == 'etx' %}checked="checked"{% endif %} /> <label for="etx">{% trans 'Lost packets (ETX)' %}</label></li>
                                <li id="dbmli"><input type="radio" id="dbm" name="link-quality-selector" value="dbm" {% if settings.LINK_QUALITY == 'dbm' %}checked="checked"{% endif %} /> <label for="dbm">{% trans 'Received signal (DBm)' %}</label></li>
                            </ul>
                        </div>
                    </div>
                    
                    <h3 class="maponly">{% trans 'Node list' %}</h3>
                    <div id="node-tree-container" class="widget-content maponly">
                        <div id="node-tree"></div>
                    </div>
                </div>
            </aside>
        </section>
    </div>
    {% if DEBUG %}
    <script src="{{ MEDIA_URL }}js/jquery.js"></script>
    {% else %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    {% endif %}
    <!--[if lte IE 7]>
    <script src="{{ MEDIA_URL }}js/ie6/warning.js"></script>
    <script>
        var msg1 = "{% trans 'Did you know that your Internet Explorer is out of date?' %}";
        var msg2 = "{% trans 'To get the best possible experience using our website we recommend that you upgrade to a newer version of Internet Explorer or even better another web browser. A list of the most popular web browsers can be found below.' %}";
        var msg3 = "{% trans 'Just click on the icons to get to the download page' %}";
        $(function(){e('{{ MEDIA_URL }}js/ie6/')});
    </script>
    <![endif]-->
    <script src="http://maps.googleapis.com/maps/api/js?libraries=geometry&v=3&sensor=false" type="text/javascript"></script>
    {% if DEBUG %}
    <script src="{{ MEDIA_URL }}js/jquery-ui.js"></script>
    <script src="{{ MEDIA_URL }}js/jquery.cookie.js"></script>
    <script src="{{ MEDIA_URL }}js/nodeshot.js"></script>
    {% else %}
    <script src="{{ MEDIA_URL }}js/compressed/nodeshot.js"></script>
    {% endif %}
    <script>
        nodeshot.url.index = '{% url nodeshot.views.index %}';
        nodeshot.url.media = '{{ MEDIA_URL }}';
        nodeshot.gmap.zoom = '{{ gmap_config.zoom }}';
        nodeshot.gmap.map_center = {
            is_default: {{ gmap_config.is_default }},
            {% if gmap_config.is_default == 'false' %}node: '{{ gmap_config.node }}',{% endif %}
            lat: '{{ gmap_config.lat }}',
            lng: '{{ gmap_config.lng }}'
        };
        {% include 'i18n_fragment.html' %}   
        // when dom ready
        $(function() {
            nodeshot.init();
            nodeshot.layout.setElementDimensions();
            {% if messages %}
            nodeshot.dialog.open("{% for message in messages %}{{ message }}{% endfor %}");
            {% endif %}
        });
        // when content has been downloaded
        $(window).load(function(){
            nodeshot.layout.setElementDimensions();
            nodeshot.layout.setFullScreen();
            nodeshot.layout.$mask.removeClass('initial')
            if(!nodeshot.layout.$dialog){nodeshot.layout.$mask.hide();}
            nodeshot.layout.$loading.hide();
            nodeshot.layout.$body.append('<script src="{{ MEDIA_URL }}js\/compressed\/jquery.jstree.js"><\/script>');
        // update dimensions on resize
        }).resize(function(){
            nodeshot.layout.setFullScreen();
            // hide orizontal scrollbar
            nodeshot.layout.$body.css("overflow-x", "hidden");
        });
        {% block extrajs %}{% endblock %}
    </script>
</body>
</html>
