{% load i18n %}// translations
i18n = {
    ADDNODE_DIALOG: "{% trans 'Click on the map to indicate where you want to place your new node. Try to be accurate :)' %}",
    ADDNODE_CANCEL: "{% trans 'Cancel operation' %}",
    THANKYOU_NEWNODE_DIALOG: "{% trans 'Thank you for inserting a new potential node, we sent you an email containing the activation link.' %}",
    CANCEL: "{% trans 'Cancel' %}",
    LESSINFO: "{% trans '- info' %}",
    MOREINFO: "{% trans '+ info' %}",
    NEWNODE_INFOWINDOW_TITLE: "{% trans 'Did you place me well?' %}",
    YES: "{% trans 'yes' %}",
    NO: "{% trans 'no' %}",
    DESTINATION_NOTVALID: "{% trans 'The selected destination is not valid.' %}",
    SEARCH_ADDRESS: "{% trans 'Search address' %}",
    SEARCH_HINT: "{% trans 'Enter the full address' %}",
    SEARCH: "{% trans 'Search' %}",
    OK: "{% trans 'Ok' %}",
    MESSAGE_SENT: "{% trans 'Message sent successfully.' %}",
    SHOW: "{% trans 'show' %}",
    HIDE: "{% trans 'hide' %}",
    SAVE: "{% trans 'save' %}",
    DELETE: "{% trans 'delete' %}",
    SMTP_ERROR: "{% trans 'The message cannot be sent because the outgoing email server is temporarily unavailable. Try again later. We apologize for the inconvenience.' %}",
    NODE_DOESNT_EXIST: "{% trans 'The node does not exist' %}",
    NOT_AVAILABLE: "{% trans 'not available' %}"
}