<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Nodeshot Open Source Map Server</title>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL}}css/base.css" />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL}}css/tablesorter/style.css" />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL}}css/ui-darkness/jquery-ui-1.8.11.custom.css" />
    <!--[if lte IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <base href="{% url nodeshot.views.index %}" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <!-- TODO: add robots -->
</head>
<body>
    <div id="container">
        <header id="header">                
            <h1>
                Nodeshot
            </h1>
            <p id="network-stat">
                {% if stat %}
                <span><strong>Nodi Attivi:</strong> {{ stat.active_nodes }}</span>
                <span><strong>Hotspots:</strong> {{ stat.hotspots }}</span>
                <span><strong>Nodi Potenziali:</strong> {{ stat.potential_nodes }}</span>
                <span><strong>Link attivi:</strong> {{ stat.links }} ({{ stat.km }} km)</span>
                {% endif %}
            </p>
            <div id="head-controls" class="ui-widget">
                <input id="search" class="defaultText text ui-corner-all" value="Cerca un un nodo, IP, MAC o SSID" />
                <a href="{% url admin:index %}"><img src="{{ MEDIA_URL }}images/icons/Config.png" class="top-icon" alt="Admin" /></a>
                <a href="{% url nodeshot_generate_kml %}"><img src="{{ MEDIA_URL }}images/icons/Rss.png" class="top-icon" alt="KML Feed" /></a>
                <a href="http://wiki.ninux.org/UsareMapserver"><img src="{{ MEDIA_URL }}images/icons/Lifesaver.png" alt="Help" class="top-icon" /></a>
            </div>
        </header>
        <section id="content-container">
            <article id="content">
                <div id="map_canvas">
                    <noscript>Per utilizzare questa applicazione è necessario abilitare Javascript.</noscript>
                </div>
                <div id="side-links"></div>
            </article>
            <aside id="aside">
                <div class="wrapper">
                    <menu id="choices">
                        <input type="radio" id="radio1" name="view-radio" value="map" checked="checked" /><label for="radio1">Mappa</label>
                        <input type="radio" id="radio2" name="view-radio" value="info" /><label for="radio2">Info</label>
                        <input type="radio" id="radio3" name="view-radio" value="olsr" /><label for="radio3">OLSR</label>
                        <input type="radio" id="radio4" name="view-radio" value="vpn" /><label for="radio4">VPN</label>
                    </menu>
                    <p>Open Source Network Map Server</p>
                    <button id="addnode" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary">
                        <span class="ui-button-icon-primary ui-icon ui-icon-plusthick"></span>
                        <span class="ui-button-text">Aggiungi un nuovo nodo</span>
                    </button>
                    
                    <div class="inner">
                        <menu id="other-controls">
                            <ul>
                                <li><a id="hide-side">Nascondi questa colonna</a></li>
                                <li><a id="search-address">Cerca un indirizzo</a></li>
                                <li class="last"><input type="checkbox" id="potential" checked="checked" /><label for="potential">Visualizza nodi potenziali</label></li>
                            </ul>
                        </menu>
                        
                        <menu id="link-quality">
                            Visualizza la qualità dei collegamenti:
                            <ul>
                                <li><input type="radio" id="etx" name="link-quality-selector" value="etx" checked="checked" /> <label for="etx">Pacchetti persi (ETX)</label></li>
                                <li id="dbmli"><input type="radio" id="dbm" name="link-quality-selector" value="dbm" /> <label for="dbm">Segnale ricevuto (DBm)</label></li>
                            </ul>
                        </menu>
                    </div>
                    
                    <h3>Lista dei nodi</h3>
                    <div id="node-tree-container" class="widget-content">
                        <div id="node-tree"></div>
                    </div>
                </div>
            </aside>
        </section>
    </div>
        
    <script src="{{MEDIA_URL}}js/jquery.js"></script>
    <script src="{{MEDIA_URL}}js/jquery-ui.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?v=3&amp;sensor=false" type="text/javascript"></script>
	<!--<script src="http://www.google.com/jsapi"></script>-->
    <script src="{{MEDIA_URL}}js/jstree/jquery.jstree.js"></script>
    <script src="{{MEDIA_URL}}js/jquery.formset.min.js"></script>
    <!-- TODO: with some delay (will need to check that nodeshot.infoTab.init() will work correctly -->
    <script src="{{MEDIA_URL}}js/jquery.tablesorter.min.js"></script>
    <!--<script src="{{MEDIA_URL}}js/jquery.tablesorter.pager.js"></script>-->
    <script src="{{MEDIA_URL}}js/jquery.cookie.js"></script>
    <script src="{{MEDIA_URL}}js/nodeshot.js"></script>
    <!--<script src="{{MEDIA_URL}}js/compressed/nodeshot.js"></script>-->
    <script>
        nodeshot.url.index = '{% url nodeshot.views.index %}';
        nodeshot.url.media = '{{ MEDIA_URL }}';
        nodeshot.gmap.map_center = {
            is_default: {{ gmap_center.is_default }},
            {% if gmap_center.is_default == 'false' %}node: '{{ gmap_center.node }}',{% endif %}
            lat: '{{ gmap_center.lat }}',
            lng: '{{ gmap_center.lng }}'
        };
        
        // on dom ready
        $(function() {
            nodeshot.overlay.appendLoading();
            nodeshot.init();            
        });
        // when content has been loaded
        $(window).load(function(){
            nodeshot.layout.setFullScreen();
            nodeshot.layout.setElementDimensions();            
            {% if messages %}
            nodeshot.dialog.open("{% for message in messages %}{{ message }}{% endfor %}");
            {% endif %}
        // update dimensions on resize
        }).resize(function(){
            nodeshot.layout.setFullScreen();
            // hide orizontal scrollbar
            nodeshot.layout.$body.css("overflow-x", "hidden");
        });
    </script>
    <script src="{{MEDIA_URL}}js/jquery.progressbar.js"></script>    
</body>
</html>
