<div id="info-window" class="tabs">
    <ul>
        <li><a href="#tab-info"><span>Info</span></a></li>
        <li><a href="#tab-dist"><span>Distanza</span></a></li>
    </ul>
    <div id="tab-info">
        <table>
            <tr>
                <td>Nome:</td><td>{{node.name}}</td>
            </tr>
            <tr>
                <td>Responsabile:</td><td>{{node.owner}} (<a href="">contatta</a>)</td>
            </tr>

            <tr>
                <td>Latitudine:</td><td>{{node.lat}} (<a href="">contatta</a>)</td>
            </tr>
        </table>
    </div>
    <div id="tab-dist">
        <p>Tab Dist</p>
    </div>

 </div>
