<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <title>{% block title %}Nodeshot overlay{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL}}css/base.css" />
        <link type="text/css" href="{{ MEDIA_URL}}css/ui-darkness/jquery-ui-1.8.11.custom.css" rel="stylesheet" />
        <script type="text/javascript" src="{{MEDIA_URL}}js/jquery.js"></script>
        <script type="text/javascript" src="{{MEDIA_URL}}js/jquery-ui.js"></script>
        <script src="http://maps.googleapis.com/maps/api/js?v=3&amp;sensor=false" type="text/javascript"></script>
        <script type="text/javascript" src="{{MEDIA_URL}}js/nodeshot.js"></script>
        <script type="text/javascript" src="{{MEDIA_URL}}js/jquery.formset.min.js"></script>
    </head>
    <body id="overlay-container">
        <div id="nodeshot-overlay">
            {% block content %}{% endblock %}
        </div>
        {% block script %}{% endblock %}
    </body>
</html>
