<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <title>{% block title %}Nodeshot overlay{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL}}css/base.css" />
        <link type="text/css" href="{{ MEDIA_URL}}css/ui-darkness/jquery-ui-1.8.11.custom.css" rel="stylesheet" />
        <script type="text/javascript" src="{{MEDIA_URL}}js/jquery.js"></script>
        <script type="text/javascript" src="{{MEDIA_URL}}js/jquery-ui.js"></script>
        <script type="text/javascript" src="{{MEDIA_URL}}js/addnode.js"></script>
        <script type="text/javascript" src="{{MEDIA_URL}}js/jstree/jquery.jstree.js"></script>
        <script type="text/javascript" src="{{MEDIA_URL}}js/jquery.formset.min.js"></script>
        <script type="text/javascript" src="{{MEDIA_URL}}js/jquery.tablesorter.min.js"></script>
        <script type="text/javascript" src="{{MEDIA_URL}}js/jquery.tablesorter.pager.js"></script>
        <script type="text/javascript" src="{{MEDIA_URL}}js/addnode.js"></script>
        <!-- for rrd -->
        <script type="text/javascript" src="{{MEDIA_URL}}js/javascriptrrd-0.5.0/src/lib/binaryXHR.js"></script>
        <script type="text/javascript" src="{{MEDIA_URL}}js/javascriptrrd-0.5.0/src/lib/rrdFile.js"></script>
    
        <!-- rrdFlot class needs the following four include files !-->
        <script type="text/javascript" src="{{MEDIA_URL}}js/javascriptrrd-0.5.0/src/lib/rrdFlotSupport.js"></script>
        <script type="text/javascript" src="{{MEDIA_URL}}js/javascriptrrd-0.5.0/src/lib/rrdFlot.js"></script>
        <script type="text/javascript" src="{{MEDIA_URL}}js/javascriptrrd-0.5.0/flot/jquery.flot.js"></script>
        <script type="text/javascript" src="{{MEDIA_URL}}js/javascriptrrd-0.5.0/flot/jquery.flot.selection.js"></script>
        <!-- -->
        <script type="text/javascript" src="{{MEDIA_URL}}js/jquery.progressbar/js/jquery.progressbar.js"></script>
        <script type="text/javascript" src="{{MEDIA_URL}}js/gmap.js"></script>
        <script type="text/javascript" src="{{MEDIA_URL}}js/rrd.js"></script>
    </head>
    <body>
        
    <div id="nodeshot-modal-mask" style="display:block;opacity:0.5"></div>
    <div id="nodeshot-overlay">
        {% block content %}{% endblock %}
    </div>
    </body>
</html>
