<!DOCTYPE html>{% load i18n %}
<html>
<head>
<meta charset="utf-8">
<title>{{ SITE.name }} stats</title>
<style type="text/css">
	a{font: bold 14px 'Arial', sans-serif;float: right;margin-top:20px;color:#000}
	a:hover{text-decoration: none}
</style>
</head>
<body>
<div id="container" style="width: 100%; height: 600px"></div>

<a href="{% url nodeshot_index %}">&laquo; {% trans 'Go back to map-server' %}</a>

<button class="rangeSelector" data-from="2563200" data-to="">1 {% trans 'month' %}</button>
<button class="rangeSelector" data-from="7689600" data-to="">3 {% trans 'months' %}</button>
<button class="rangeSelector" data-from="15379200" data-to="">6 {% trans 'months' %}</button>
<button class="rangeSelector" data-from="30758400" data-to="">1 {% trans 'year' %}</button>
<button class="rangeSelector" data-from="" data-to="">{% trans 'all' %}</button>

<br>

<button class="toggleSerie" data-key="potential">{% trans 'Potential Nodes' %}</button>
<button class="toggleSerie" data-key="active">{% trans 'Active Nodes' %}</button>
<button class="toggleSerie" data-key="hotspot">{% trans 'Hotspots' %}</button>
<button class="toggleSerie" data-key="links">{% trans 'Active Links' %}</button>
<button class="toggleSerie" data-key="km">{% trans 'Km' %}</button>

<script>
NS_STATS_CONFIG = {
	'url': '{% url nodeshot_stats %}?callback=?',
	'lang': {
		decimalPoint: '.',
		downloadJPEG: '{% trans "Download image in JPEG format" %}',
		downloadPDF: '{% trans "Download image in PDF format" %}',
		downloadPNG: '{% trans "Download image in PNG format" %}',
		downloadSVG: '{% trans "Download image in SVG format" %}',
		exportButtonTitle: '{% trans "Export image" %}...',
		loading: '{% trans "Loading" %}...',
		months: [
			'{% trans "January" %}',
			'{% trans "February" %}',
			'{% trans "March" %}',
			'{% trans "April" %}',
			'{% trans "May" %}',
			'{% trans "June" %}',
			'{% trans "July" %}',
			'{% trans "August" %}',
			'{% trans "September" %}',
			'{% trans "October" %}',
			'{% trans "November" %}',
			'{% trans "December" %}'
		],
		printButtonTitle: '{% trans "Print" %}',
		rangeSelectorFrom: '{% trans "From" %}',
		rangeSelectorTo: '{% trans "To" %}',
		rangeSelectorZoom: '',
		resetZoom: '',
		resetZoomTitle: '',
		thousandsSep: '',
		weekdays: [
			'{% trans "Sunday" %}',
			'{% trans "Monday" %}',
			'{% trans "Tuesday" %}',
			'{% trans "Wednesday" %}',
			'{% trans "Thursday" %}',
			'{% trans "Friday" %}',
			'{% trans "Saturday" %}'
		],
		nodeshot: {
			active: '{% trans "Active Nodes" %}',
			potential: '{% trans "Potential Nodes" %}',
			hotspot: '{% trans "Hotspots" %}',
			links: '{% trans "Active Links" %}',
			km: '{% trans "Km" %}',
			yAxis: [ '{% trans "Nodes" %}', '{% trans "Links" %}', '{% trans "Km" %}' ]
		}
	}
}
</script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/stats/highstock.js"></script>
<script src="{{ STATIC_URL }}js/stats/highstock_exporting.js"></script>
<script src="{{ STATIC_URL }}js/stats/nodeshot_stats.js"></script>

</body>
</html>