{% load staticfiles %}

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<link rel="stylesheet" href="{% static 'interface/css/bootstrap.css' %}" />



       <style>
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>

	<link rel="stylesheet" href="{% static 'interface/css/bootstrap-responsive.css' %}" />
	<link rel="stylesheet" href="{% static 'interface/css/main.css' %}" />
        <!--<link rel="stylesheet" href="css/main.css">-->
        <link rel="stylesheet" href="{% static 'interface/css/leaflet.css' %}" />


        <script src="{% static 'interface/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
    </head>


       
<!-- Templates -->

<script id="tmplLogin" type="text/template">
<input id="user" class="span2" type="text" placeholder="Email">
<input id="password" class="span2" type="password" placeholder="Password">
<button id="loginButton" type="button" onclick=login() class="btn">Sign in</button>
<a href="{% url "socialauth_begin" "facebook" %}" class="btn btn-info">Facebook Sign in</a>
<a href="{% url "socialauth_begin" "google" %}" class="btn btn-inverse">Google</a>
<a href="{% url "socialauth_begin" "openwisp" %}" class="btn">OpenWISP</a>
</script>


	
<script id="tmplLogout" type="text/template">
<span class="userLogged">Hello <%= user %> </span>
<button id="logoutButton" type="button" onclick=logout() class="btn">Sign out</button>
</script>

<script id="tmplcheckArea" type="text/template">
     
Choose a layer:<br>
 
    <% for (var i = 0; i < choices.length; i++) { %>
     
 <% var layer = choices[i]; %>

<input type="radio" name="layer" id="<%=layer.id %>" style="vertical-align: middle; margin: 0px;" value="<%=layer.id %>,<%=layer.name %> "/>
<%=layer.name %><br/>    

  
    <% } %>
<button id="sendLayer">Go</button>

</script>

<script id="tmplConfirmPos" type="text/template">
<strong>Is position correct ?</strong><br>
<button id="confirm" class="confirm_marker" onclick=markerConfirm(markerLocation)>Confirm</button>&nbsp;
<button class="remove_marker" onclick=markerDelete(marker)>Delete</b>
</script>

<script id="tmplNodelist" type="text/template">
  <ul>Nodes found: <strong><%= nodes.length %></strong> 
    <% for (var i = 0; i < nodes.length; i++) { %>
      <% var node = nodes[i]; %>
      <li>
      <a href="#" class="list-link" data-slug='<%= node.properties.name %>' ><%= node.properties.name %></a>
      </li>
    <% } %>
  </ul>
</script>

<script id="tmplComments" type="text/template">
     Comments on node: <strong><%= node %></strong><br>
	<div id="comment" >
    <% for (var i = 0; i < comments.length; i++) { %>
      <% var comment = comments[i]; %>
		<div  class="comment_div">
		<span class="comment_user">
		    <%= comment.username %>
		</span>
		<div class="comment_text">
		<%- comment.text %>
		</div>
		<span class="comment_date"><%= comment.added %></span>	
		</div>
		
    <% }
    
    %>
  </div><div id="pagingControls"></div>
<hr>Add your:<br>
<textarea id="commentText"></textarea><br>
<button onclick=postComment("<%= node %>");>Add comment</button>
</script>

<script id="tmplInsertNode" type="text/template">
<form class="subform"  >
<p><strong>Insert node details</strong></p>

<form class="subform"  >
	<p>
	<label for="layerToInsert" >Layer</label>
	<input class="input" id="layerToInsert" >
	<input type="hidden" id="layerIdToInsert" >
	</p>
	<p>
	<label for="nodeToInsertName" >Name</label>
	<input class="input" id="nodeToInsertName">
	</p>
	
	<label for="nodeToInsertAddress" >Address </label><br>(from Open Street Map)
	<div id="loadingAddress" >Loading...</div>
	<textarea class="input" id="nodeToInsertAddress"></textarea>	
	
	<p>
	<label for="nodeToInsertLat">Lat</label>   
	<input class="input" id="nodeToInsertLat">
	</p>
	  <p>
	<label for="nodeToInsertLng">Lng</label>   
	<input class="input" id="nodeToInsertLng">
	</p>
	  <button  onclick=postNode();>Insert node</button>
</form>
</script>


<script id="tmplLayerList" type="text/template">
<option value="<%= layer.slug %>"> <%= layer.name %>
</option>
</script>

<script id="tmplNodePopup" type="text/template">
<strong><%= node %></strong><br>
<%= address %><br>
</script>

<script id="tmplNodePopupRating" type="text/template">
<strong>Rating:</strong><br>
<div id="star"></div>
</script>

<script id="tmplNodePopupVoting" type="text/template">
<strong>Votes:</strong><br>
In favour: <strong><%= likes %></strong><br>
Against: <strong><%= dislikes %></strong><br>
<button class="vote" onclick=postVote('<%= nodeSlug %>',1)>In favour</button>
<button class="vote" onclick=postVote('<%= nodeSlug %>',-1)>Against</button><br>
</script>

<script id="tmplNodePopupComments" type="text/template">
<strong>Comments:</strong><br>
<a onclick=showComments('<%= nodeSlug %>');>comments: <%= comments %></a><br>
</script>

<!-- End of Templates -->
<body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#">Nodeshot</a>
                    <div class="nav-collapse collapse">
                        
                        <form id="userForm" class="navbar-form pull-right">
			 {% if not user.is_authenticated %}
                         <input id="user" class="span2" type="text" placeholder="Email">
                         <input id="password" class="span2" type="password" placeholder="Password">
                         <button id="loginButton" type="button" onclick=login() class="btn">Sign in</button>
			 <a href="{% url "socialauth_begin" "facebook" %}" class="btn btn-info">Facebook Sign in</a>
			 <a href="{% url "socialauth_begin" "google" %}" class="btn btn-inverse">Google</a>
			 <a href="{% url "socialauth_begin" "openwisp" %}" class="btn">OpenWISP</a>
			  {% else %}
			   <span class="userLogged">Hello  {{ user }}  </span>
			    <button id="logoutButton" type="button" onclick=logout() class="btn">Sign out</button>
			 {% endif %}  
                        </form>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

        <div class="container">

            <!-- Main hero unit for a primary marketing message or call to action -->
<!--            <div class="hero-unit">
                <h1>Hello, world!</h1>
                <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
                <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
            </div>-->

            <!-- Example row of columns -->
	     <!--<div class="row">-->
	     <!--  <div class="span12">-->
	     <!-- -->
	     <!---->
	     <!--  </div>-->
	     <!--</div>-->
	    
            <div class="row">
	       <div class="span2">
		   <div id="controls">
			 Node list:<br>
			 <select id="selectLayer" onchange=createNodeList() class="layerList" >
			      <option value=" ">Choose layer</option>
			 </select>
	  	    
		    <div id="nodelist">
		    </div>
		</div>
                    
		    


		</div>
                <div class="span7">

                <!--<p><a class="btn" href="#">View details &raquo;</a></p>-->
              
                <div id="map" style="width: 900px; height: 600px">
		    <div id='loading'>Loading...</div>
		   
		</div>
		 
               </div>
                <div class="span3">
		   
		    
                    <div id='valori' >
			 
		    </div>
		    


		</div>
              
                </div>
            </div>

            <hr>

            <footer>
               
            </footer>

        </div> <!-- /container -->

        <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->
<!--        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
-->
	 <script>window.__BASEURL__ = '{% url 'ui:index' %}'</script>
	<script>window.participation = '{{ participation }}'</script>
	<script src="{% static 'interface/js/vendor/underscore-min.js' %}"></script>
        <script src="{% static 'interface/js/vendor/jquery-1.8.3.min.js' %}"></script>
	<script src="{% static 'interface/js/vendor/jquery.tools.min.js' %}"></script>
	<script src="{% static 'interface/js/vendor/jquery.cookie.js' %}"></script>
        <script src="{% static 'interface/js/vendor/bootstrap.min.js' %}"></script>
        <script src="{% static 'interface/js/vendor/leaflet.js' %}"></script>
        <script src="http://maps.google.com/maps/api/js?v=3.2&sensor=false"></script>
        <script src="{% static 'interface/js/vendor/Google.js' %}"></script>
        <script src="{% static 'interface/js/vendor/leaflet.markercluster-src.js' %}"></script>
	 <script src="{% static 'interface/js/vendor/leaflet-pip.min.js' %}"></script>
	<script src="{% static 'interface/js/vendor/imtech_pager.js' %}"></script>
	<script type="text/javascript">  
    $.myproject = {} // namespace
    $.myproject.STATIC_URL = '{{ STATIC_URL }}';
</script>
	<script src="{% static 'interface/js/vendor/jquery.raty.js' %}"></script>
        <!--<script type="text/javascript" src="leaflet/leaflet.ajax.js"></script>-->
        <script src="{% static 'interface/js/functions.js' %}"></script>
        <script src="{% static 'interface/js/main.js' %}"></script>
	



    </body>
</html>
