{% extends "admin/change_form.html" %}
{% load i18n admin_static admin_modify %}
{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "css/admin-customizations.css" %}" />{% endblock %}
{% block content %}
{{ block.super }}
    <script>
        // edit selected
        django.jQuery("select+a.add-another").each(function(){
            var $this = django.jQuery(this);
            $this.before("&nbsp;<a class='changelink' href='#' title='{% trans 'Edit slected item' %}'><\/a>");
            $this.prev().click(function(e){
                e.preventDefault();
                var $this = django.jQuery(this);
                var $prev_prev = $this.prev();
                if($prev_prev.attr('value')=='') return false;
                var link = ($this.next().attr('href')+'../'+$prev_prev.attr('value'));
                var win = window.open(link + '?_popup=1', link, 'height=600,width=1000,resizable=yes,scrollbars=yes');
                win.focus();
            });
        });
        {% block extrajs %}{% endblock %}
    </script>
{% endblock %}
