{% extends "open311.html" %}
{% load staticfiles %}

{% block container %}
 <div class="container">
<div class="row">
    <div  id="left" class="span6">
        <div id="request">
            
        </div>
        <div id="votesContainer">
            
        </div>
        
        
   </div>
     <div id="right" class="span6">
        <div id="commentsContainer">
            
        </div>
       
        
   </div>
</div>
 </div>
{% endblock container %}
 Request_id: {{ request_id }}<br>
participation: {{ participation }}<br>
Layer: {{ layer.name }}<br>
Node:  {{node.slug}}<br>
comments: {{comments}}<br>
likes: {{likes}}<br>
dislikes: {{dislikes}}<br>
rating_avg: {{rating_avg}}<br>
rating_count: {{rating_count}}<br>
{% block scripts%}
<script>window.request_id = '{{ request_id }}'</script>
<script>window.category = '{{ layer.name }}'</script>
<script>window.nodeSlug = '{{ node.slug }}'</script>
<script>window.nodeId = '{{ node.id }}'</script>
<!--<script>window.comments = '{{ comments }}'</script>
<script>window.likes = '{{ likes }}'</script>
<script>window.dislikes = '{{ dislikes}}'</script>
<script>window.rating_avg = '{{ rating_avg }}'</script>
<script>window.rating_count = '{{ rating_count }}'</script>-->
<script>
window.nodeSettings = getData(window.__BASEURL__ + 'api/v1/nodes/' + window.nodeSlug + '/participation_settings/');
window.nodeParticipation = getData(window.__BASEURL__ + 'api/v1/nodes/' + window.nodeSlug + '/participation/');
</script>
<script src="{% static 'interface/js/request.js' %}"></script>
{% endblock scripts%}