{% extends "admin/change_form.html" %}
{% load i18n admin_static admin_modify %}
{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "css/admin-customizations.css" %}" />{% endblock %}
{% block content %}<div id="content-main">
{{ block.super }}
    <script>
        // edit selected
        jQuery(".original").each(function(){
            var $original = jQuery(this);
            var device_id = $original.find('input[name='+$original.parent().attr('id')+'-id]').val();
            if(device_id==undefined) return false;
            var link = ('../../device/'+device_id+'/')
            $original.find('p').append("&nbsp;<a class='changelink' href='"+link+"' target='_blank' title='{% trans 'Edit slected item' %}'><\/a>");
        });
    </script>
{% endblock %}
