{% extends 'ajax/base_form.html' %}{% load i18n %}
{% block extra_class %} narrower{% endblock %}
{% block h1 %}{% trans 'Add a new node' %}{% endblock %}
{% block menu %}{% endblock %}
{% block form_content %}
        <p>{% trans 'Fields marked with an asterisk are required.' %}</p>
        <fieldset>
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="ui-state-error">
                {{ form.non_field_errors }}
                </div>
            {% endif %}
    
            <div class="field-wrapper">
                <label for="id_name">{% trans 'Node name' %}: <big>*</big></label>
                {% if form.name.errors %}
                    <div class="ui-state-error">
                        {{ form.name.errors }}
                    </div>
                {% endif %}
                {{ form.name }}
            </div>
            <div class="field-wrapper">
                {{ form.description.errors }}
                {% if form.description.errors %}
                    <div class="ui-state-error">
                        {{ form.description.errors }}
                    </div>
                {% endif %}
                <label for="id_description">{% trans 'Description' %}:</label>
                {{ form.description}}
            </div>
            <div class="field-wrapper">
                <label for="id_owner">{% trans "Who's in charge?" %}</label>
                {% if form.owner.errors %}
                    <div class="ui-state-error">
                        {{ form.owner.errors }}
                    </div>
                {% endif %}
                {{ form.owner }}
            </div>
            <div class="field-wrapper">
                <label for="id_postal_code">{% trans 'Postal code' %}: <big>*</big></label>
                {% if form.postal_code.errors %}
                    <div class="ui-state-error">
                        {{ form.postal_code.errors }}
                    </div>
                {% endif %}
                {{ form.postal_code }}
            </div>
            <div class="field-wrapper">
                <label for="id_email">{% trans 'Main E-mail address' %}: <big>*</big></label>
                {% if form.email.errors %}
                    <div class="ui-state-error">
                        {{ form.email.errors }}
                    </div>
                {% endif %}
                {{ form.email }}
            </div>
            <div class="field-wrapper">
                <label for="id_password">{% trans 'Password to edit this node' %}: <big>*</big></label>
                {% if form.password.errors %}
                    <div class="ui-state-error">
                        {{ form.password.errors }}
                    </div>
                {% endif %}
                <input id="id_password" type="password" class="text ui-widget-content ui-corner-all" name="password" maxlength="20" />
            </div>
            <div class="field-wrapper">
                <label for="id_password2">{% trans 'Verify password' %}: <big>*</big></label>
                {% if form.password2.errors %}
                    <div class="ui-state-error">
                        {{ form.password2.errors }}
                    </div>
                {% endif %}
                <input id="id_password2" type="password" class="text ui-widget-content ui-corner-all" name="password2" maxlength="20" />
            </div>
            <div class="field-wrapper">
                <label for="id_email2">{% trans 'E-mail address 2' %}:</label>
                {% if form.email2.errors %}
                    <div class="ui-state-error">
                        {{ form.email2.errors }}
                    </div>
                {% endif %}
                {{ form.email2 }}
            </div>
            <div class="field-wrapper">
                <label for="id_email3">{% trans 'E-mail address 3' %}: </label>
                {% if form.email3.errors %}
                    <div class="ui-state-error">
                        {{ form.email3.errors }}
                    </div>
                {% endif %}
                {{ form.email3 }}
            </div>
            <div class="field-wrapper">
                <label for="id_lng">{% trans 'Longitude' %}: <big>*</big></label>
                {% if form.lng.errors %}
                    <div class="ui-state-error">
                        {{ form.lng.errors }}
                    </div>
                {% endif %}
                {{ form.lng}}
            </div>
            <div class="field-wrapper">
                <label for="id_lat">{% trans 'Latitude' %}: <big>*</big></label>
                {% if form.lat.errors %}
                    <div class="ui-state-error">
                        {{ form.lat.errors }}
                    </div>
                {% endif %}
                {{ form.lat}}
            </div>
            <div class="field-wrapper">
                <label for="id_alt">{% trans 'Altitude' %}:</label>
                {% if form.alt.errors %}
                    <div class="ui-state-error">
                        {{ form.alt.errors }}
                    </div>
                {% endif %}
                {{ form.alt }}
            </div>
            <input type="hidden" name="slug" value="new" />
            <input type="hidden" name="status" value="u" /> 
            <p class="button-wrapper">
                <input type="submit" value="{% trans 'Save node' %}" id="submit" class="button submit" />
                <input type="button" value="{% trans 'Cancel' %}" id="cancel" class="button cancel" />
            </p>
        </fieldset>
{% endblock %}


