{% extends 'ajax/base_form.html' %}{% load i18n %}
{% block extra_class %} narrower{% endblock %}
{% block h1 %}{% blocktrans with node=node.name %}Authentication required to edit "{{ node }}"{% endblocktrans %}{% endblock %}
{% block menu %}{% endblock %}
{% block form_content %}
    <div class="field-wrapper">
        <label for="id_password">{% trans 'Enter the node password' %}:</label>
        {% if authenticated == 2 %}
            <div class="ui-state-error">
                {% trans 'Wrong password' %}
            </div>
        {% endif %}
        <input id="id_password" type="password" class="text" name="raw_password" maxlength="20" />
    </div>
    <p class="button-wrapper">
        <input type="submit" value="{% trans 'Submit' %}" id="submit" class="button submit" />
        <a id="cancel" class="button cancel" href="{% url nodeshot_index %}" />{% trans 'Cancel' %}</a>
    </p>
    <p class="clear alignright"><a href="{% url nodeshot_reset_password node.id %}">{% trans 'Password forgotten?' %}</a></p>
</div>
{% endblock %}