{% extends 'ajax/base_form.html' %}
{% block extra_class %} narrower{% endblock %}
{% block h1 %}Autenticazione nodo "{{ node.name }}"{% endblock %}
{% block menu %}{% endblock %}
{% block form_content %}
    <div class="field-wrapper">
        <label for="id_password">Inserisci la password del nodo:</label>
        {% if authenticated == 2 %}
            <div class="ui-state-error">
                La password non è corretta.
            </div>
        {% endif %}
        <input id="id_password" type="password" class="text" name="raw_password" maxlength="20" />
    </div>
    <p class="button-wrapper">
        <input type="submit" value="Entra" id="submit" class="button submit" />
        <a id="cancel" class="button cancel" href="{% url nodeshot_index %}" />Annulla</a>
    </p>
    <p class="clear alignright"><a href="{% url nodeshot_reset_password node.id %}">Hai dimenticato la password?</a></p>
</div>
{% endblock %}