<div id="nodeshot-overlay-inner" class="content{% block extra_class %}{% endblock %}">
    <form id="nodeshot-form" method="post" action="">
        {% csrf_token %}
        <h1>{% block h1 %}Form{% endblock %}</h1>
        {% block menu %}
        <ul id="edit-node-menu">
            <li><a href="{% url nodeshot_edit_node node.id node.password %}"{% block node_link_extra %}{% endblock %}>Nodo</a></li>
            {% if node.status != 'p' %}
            <li><a href="{% url nodeshot_edit_devices node.id node.password%}"{% block device_link_extra %}{% endblock %}>Devices</a></li>
            <li><a href="{% url nodeshot_edit_interfaces node.id node.password %}"{% block interface_link_extra %}{% endblock %}>Interfacce</a></li>
            <li><a href="{% url nodeshot_edit_hna4s node.id node.password %}"{% block hna4_link_extra %}{% endblock %}>HNA4s</a></li>
            {% endif %}
            {% block delete_node_link %}<li id="delete-node-link"><a href="{% url nodeshot_delete_node node.id node.password %}" class="red{% block delete_link_extra %}{% endblock %}">Elimina nodo</a></li>{% endblock %}
        </ul>
        {% endblock %}
        {% block form_content %}{% endblock %}
    </form>
</div>