{% extends 'ajax/base_form.html' %}{% load i18n %}
{% block extra_class %} narrower{% endblock %}
{% block h1 %}
    {% if not sent %}
        {% blocktrans with node=node.name %}Contact {{ node }}{% endblocktrans %}
    {% else %}
        {% trans 'Message sent' %}
    {% endif %}
{% endblock %}
{% block menu %}{% endblock %}
{% block form_content %}
    {% if not sent %}
        <p>{% trans 'All fields are required.' %}</p>
        <fieldset>
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="ui-state-error">
                {{ form.non_field_errors }}
                </div>
            {% endif %}
    
            <div class="field-wrapper">
                <label for="id_name">{% trans 'Your name' %}:</label>
                {% if form.from_name.errors %}
                    <div class="ui-state-error">
                        {{ form.from_name.errors }}
                    </div>
                {% endif %}
                {{ form.from_name }}
            </div>
            
            <div class="field-wrapper">
                <label for="id_email">{% trans 'E-mail' %}:</label>
                {% if form.from_email.errors %}
                    <div class="ui-state-error">
                        {{ form.from_email.errors }}
                    </div>
                {% endif %}
                {{ form.from_email }}
            </div>
            
            <div class="field-wrapper">
                <label for="id_text">{% trans 'Message' %}:</label>
                {% if form.message.errors %}
                    <div class="ui-state-error">
                        {{ form.message.errors }}
                    </div>
                {% endif %}
                {{ form.message }}
            </div>
            
            <div class="field-wrapper">
                {% if form.math_captcha_field.errors %}
                    <div class="ui-state-error">
                        {{ form.math_captcha_field.errors }}
                    </div>
                {% endif %}
                {% autoescape off %}{{ form.math_captcha_field }}{% endautoescape %}
            </div>
            <input type="hidden" name="http_referer" value="{{ http_referer }}" />
            
            <input type="checkbox" name="honeypot" class="accessibility" />
            
            <p class="button-wrapper">
                <input type="submit" value="{% trans 'Send' %}" id="submit" class="button submit" />
                <input type="button" value="{% trans 'Cancel' %}" id="cancel" class="button cancel" />
            </p>
        </fieldset>
    {% else %}
        <div id="success">
            <p>{% trans 'Message sent successfully.' %}</p>
        </div>
    {% endif %}
{% endblock %}