{% extends 'ajax/base_form.html' %}
{% block extra_class %} narrower{% endblock %}
{% block h1 %}
    {% if not sent %}
        Contatta il nodo {{ node.name }}
    {% else %}
        Messaggio inviato
    {% endif %}
{% endblock %}
{% block menu %}{% endblock %}
{% block form_content %}
    {% if not sent %}
        <p>Tutti i campi sono obbligatori.</p>
        <fieldset>
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="ui-state-error">
                {{ form.non_field_errors }}
                </div>
            {% endif %}
    
            <div class="field-wrapper">
                <label for="id_name">Tuo nome:<label>
                {% if form.from_name.errors %}
                    <div class="ui-state-error">
                        {{ form.from_name.errors }}
                    </div>
                {% endif %}
                {{ form.from_name }}
            </div>
            
            <div class="field-wrapper">
                <label for="id_email">Email:<label>
                {% if form.from_email.errors %}
                    <div class="ui-state-error">
                        {{ form.from_email.errors }}
                    </div>
                {% endif %}
                {{ form.from_email }}
            </div>
            
            <div class="field-wrapper">
                <label for="id_text">Testo:<label>
                {% if form.message.errors %}
                    <div class="ui-state-error">
                        {{ form.message.errors }}
                    </div>
                {% endif %}
                {{ form.message }}
            </div>
            
            <div class="field-wrapper">
                {% if form.math_captcha_field.errors %}
                    <div class="ui-state-error">
                        {{ form.math_captcha_field.errors }}
                    </div>
                {% endif %}
                {% autoescape off %}{{ form.math_captcha_field }}{% endautoescape %}
            </div>
            <input type="hidden" name="http_referer" value="{{ http_referer }}" />
            
            <input type="checkbox" name="honeypot" class="accessibility" />
            
            <p class="button-wrapper">
                <input type="submit" value="Entra" id="submit" class="button submit" />
                <input type="button" value="Annulla" id="cancel" class="button cancel" />
            </p>
        </fieldset>
    {% else %}
        <div id="success">
            <p>Richiesta di contatto inviata con successo.</p>
        </div>
    {% endif %}
{% endblock %}