{% extends 'ajax/base_form.html' %}{% load i18n %}
{% block h1 %}{% blocktrans with node=node.name %}Delete "{{ node }}"{% endblocktrans %}{% endblock %}
{% block menu %}{% endblock %}
{% block form_content %}
<p>{% trans 'Are you sure you want to delete this node?' %}</p>
<fieldset>
    <p class="button-wrapper">
        <input type="submit" value="{% trans 'Yes, I am sure' %}" id="submit" class="button submit" />
        <a id="cancel" class="button cancel" href="{% url nodeshot_edit_node node.id node.password %}" />{% trans 'Go back to map' %}</a>
    </p>
</fieldset>
{% endblock %}