{% extends 'ajax/base_form.html' %}
{% block h1 %}Modifica device di "{{ node.name }}"{% endblock %}
{% block device_link_extra %} class="active"{% endblock %}
{% block delete_node_link %}{% endblock %}
{% block form_content %}
<fieldset>
    {% if saved %}
    <div class="success">
        Device salvati correttamente.
    </div>
    {% endif %}
    {% if error %}
    <div class="ui-state-error extramarginbottom">
        Alcuni campi non sono stati riempiti correttamente.
    </div>
    {% endif %}
    {% if formset.forms|length < 2 %}
        <p>Non ci sono devices per questo nodo.</p>
    {% endif %}
    {{ formset.management_form }}
    {% for form in formset.forms %}
    <div class="formset-form-container{% if not form.id.value and not form.errors  %} hidden{% endif %}{% if forloop.first %} first{% endif %}">
        {% if form.non_field_errors %}
        <div class="ui-state-error">
            {{ form.non_field_errors }}
        </div>
        {% endif %}
        <div class="field-wrapper">
            <label for="id_devices-{{ forloop.counter0 }}-name">Nome: <big>*</big><label>
            {% if form.name.errors %}
                <div class="ui-state-error">
                    {{ form.name.errors }}
                </div>
            {% endif %}
            {{ form.name }}
        </div>

        <div class="field-wrapper">
            <label for="id_devices-{{ forloop.counter0 }}-type">Tipo di dispositivo:<label>
            {% if form.type.errors %}
                <div class="ui-state-error">
                    {{ form.type.errors }}
                </div>
            {% endif %}
            {{ form.type }}
        </div>
        
        <div class="field-wrapper">
            <label for="id_devices-{{ forloop.counter0 }}-description">Descrizione:<label>
            {% if form.description.errors %}
                <div class="ui-state-error">
                    {{ form.description.errors }}
                </div>
            {% endif %}
            {{ form.description }}
        </div>

        <div class="field-wrapper">
            <label for="id_devices-{{ forloop.counter0 }}-routing_protocol">Protocollo di routing:<label>
            {% if form.olsr_version.errors %}
                <div class="ui-state-error">
                    {{ form.routing_protocol.errors }}
                </div>
            {% endif %}
            {{ form.routing_protocol }}
        </div>
        
        <div class="field-wrapper">
            <label for="id_devices-{{ forloop.counter0 }}-routing_protocol_version">Versione protocollo di routing:<label>
            {% if form.olsr_version.errors %}
                <div class="ui-state-error">
                    {{ form.routing_protocol_versopm.errors }}
                </div>
            {% endif %}
            {{ form.routing_protocol_version }}
        </div>
        
        <a href="{% url nodeshot_edit_interfaces node.id node.password %}#device{{ forloop.counter }}-interface-tab" class="edit-configuration" title="Modifica le interfacce di questo device">Interfacce</a>
        <a href="{% url nodeshot_edit_hna4s node.id node.password %}#device{{ forloop.counter }}-hna4-tab" class="edit-configuration" title="Modifica gli Hna4 di questo device">Hna4</a>
        
        {{ form.node }}
        {% if form.id.value %}
            {{ form.id }}
            {{ form.DELETE }}
        {% endif %}
    </div>
{% endfor %}
    <p class="button-wrapper extrapaddingtop">
        <input type="submit" value="Salva" id="submit" class="button submit" />
        <a id="cancel" class="button cancel" href="{% url nodeshot_index %}" />Annulla</a>
    </p>
</fieldset>

<script>
    $(".formset-form-container").formset({
        prefix: '{{ formset.prefix }}',
        added: function(row){
            // remove edit interface link
            $(row).find('.edit-configuration').remove();
        },
        addText: 'Aggiungi',
        deleteText: 'Rimuovi'
    });
</script>
{% endblock %}