{% extends 'ajax/base_form.html' %}{% load i18n %}
{% block h1 %}{% blocktrans with node=node.name %}Edit devices of "{{ node }}"{% endblocktrans %}{% endblock %}
{% block device_link_extra %} class="active"{% endblock %}
{% block delete_node_link %}{% endblock %}
{% block form_content %}
<fieldset>
    {% if saved %}
    <div class="success">
        {% trans 'Changes saved successfully.' %}
    </div>
    {% endif %}
    {% if error %}
    <div class="ui-state-error extramarginbottom">
        {% trans 'Some fields are not valid.' %}
    </div>
    {% endif %}
    {% if formset.forms|length < 2 %}
        <p>{% trans 'There are no devices for this node yet.' %}</p>
    {% endif %}
    {{ formset.management_form }}
    {% for form in formset.forms %}
    <div class="formset-form-container{% if not form.id.value and not form.errors  %} hidden{% endif %}{% if forloop.first %} first{% endif %}">
        {% if form.non_field_errors %}
        <div class="ui-state-error">
            {{ form.non_field_errors }}
        </div>
        {% endif %}
        <div class="field-wrapper">
            <label for="id_devices-{{ forloop.counter0 }}-name">{% trans 'Name' %}: <big>*</big></label>
            {% if form.name.errors %}
                <div class="ui-state-error">
                    {{ form.name.errors }}
                </div>
            {% endif %}
            {{ form.name }}
        </div>
        
        <div class="field-wrapper">
            <label for="id_devices-{{ forloop.counter0 }}-cname">{% trans 'CNAME for DNS resolution (leave empty to get a default value)' %}: </label>
            {% if form.cname.errors %}
                <div class="ui-state-error">
                    {{ form.cname.errors }}
                </div>
            {% endif %}
            {{ form.cname }}
        </div>
        
        <div class="field-wrapper">
            <label for="id_devices-{{ forloop.counter0 }}-description">{% trans 'Description' %}:</label>
            {% if form.description.errors %}
                <div class="ui-state-error">
                    {{ form.description.errors }}
                </div>
            {% endif %}
            {{ form.description }}
        </div>

        <div class="field-wrapper">
            <label for="id_devices-{{ forloop.counter0 }}-type">{% trans 'Device type' %}:</label>
            {% if form.type.errors %}
                <div class="ui-state-error">
                    {{ form.type.errors }}
                </div>
            {% endif %}
            {{ form.type }}
        </div>       
        

        <div class="field-wrapper">
            <label for="id_devices-{{ forloop.counter0 }}-routing_protocol">{% trans 'Routing protocol' %}:</label>
            {% if form.olsr_version.errors %}
                <div class="ui-state-error">
                    {{ form.routing_protocol.errors }}
                </div>
            {% endif %}
            {{ form.routing_protocol }}
        </div>
        
        <div class="field-wrapper">
            <label for="id_devices-{{ forloop.counter0 }}-routing_protocol_version">{% trans 'Routing protocol version' %}:</label>
            {% if form.olsr_version.errors %}
                <div class="ui-state-error">
                    {{ form.routing_protocol_versopm.errors }}
                </div>
            {% endif %}
            {{ form.routing_protocol_version }}
        </div>
        
        <a href="{% url nodeshot_edit_interfaces node.id node.password %}#device{{ forloop.counter }}-interface-tab" class="edit-configuration" title="{% trans 'Edit interfaces of this device' %}">{% trans 'Interfaces' %}</a>
        <a href="{% url nodeshot_edit_hna node.id node.password %}#device{{ forloop.counter }}-hna-tab" class="edit-configuration" title="{% trans 'Edit hna of this device' %}">{% trans 'Hna' %}</a>
        
        {{ form.node }}
        {% if form.id.value %}
            {{ form.id }}
            {{ form.DELETE }}
        {% endif %}
    </div>
{% endfor %}
    <p class="button-wrapper extrapaddingtop">
        <input type="submit" value="{% trans 'Save' %}" id="submit" class="button submit" />
        <a id="cancel" class="button cancel" href="{% url nodeshot_index %}" />{% trans 'Go back to map' %}</a>
    </p>
</fieldset>

<script>
    $(".formset-form-container").formset({
        prefix: '{{ formset.prefix }}',
        added: function(row){
            // remove edit interface link
            $(row).find('.edit-configuration').remove();
        },
        addText: '{% trans 'Add' %}',
        deleteText: '{% trans 'Remove' %}'
    });
</script>
{% endblock %}