{% extends 'ajax/base_form.html' %}{% load i18n %}
{% block h1 %}{% blocktrans with node=node.name %}Edit node "{{ node }}"{% endblocktrans %}{% endblock %}
{% block node_link_extra %} class="active"{% endblock %}
{% block form_content %}
<p>{% trans 'Fields marked with an asterisk are required.' %}</p>
<fieldset>
    {% if form.non_field_errors %}
        <div class="ui-state-error" id="non-field-errors">
        {{ form.non_field_errors }}
        </div>
    {% endif %}
    {% if saved %}
        <div class="success">
            {% trans 'Changes saved successfully.' %}
        </div>
    {% endif %}
    {% if error %}
    <div class="ui-state-error">
        {% trans 'Some fields are not valid.' %}
    </div>
    {% endif %}
    <div class="field-wrapper">
        <label for="id_name">{% trans 'Node name' %}: <big>*</big></label>
        {% if form.name.errors %}
            <div class="ui-state-error">
                {{ form.name.errors }}
            </div>
        {% endif %}
        {{ form.name }}
    </div>
    <div class="field-wrapper">
        {{ form.description.errors }}
        {% if form.description.errors %}
            <div class="ui-state-error">
                {{ form.description.errors }}
            </div>
        {% endif %}
        <label for="id_description">{% trans 'Description' %}:</label>
        {{ form.description}}
    </div>
    <div class="field-wrapper">
        <label for="id_owner">{% trans "Who's in charge?" %}</label>
        {% if form.owner.errors %}
            <div class="ui-state-error">
                {{ form.owner.errors }}
            </div>
        {% endif %}
        {{ form.owner }}
    </div>
    <div class="field-wrapper">
        <label for="id_postal_code">{% trans 'Postal code' %}: <big>*</big></label>
        {% if form.postal_code.errors %}
            <div class="ui-state-error">
                {{ form.postal_code.errors }}
            </div>
        {% endif %}
        {{ form.postal_code }}
    </div>
    <div class="field-wrapper">
        <label for="id_email">{% trans 'Main E-mail address' %}: <big>*</big></label>
        {% if form.email.errors %}
            <div class="ui-state-error">
                {{ form.email.errors }}
            </div>
        {% endif %}
        {{ form.email }}
    </div>
    <div class="field-wrapper">
        <label>{% trans 'Password' %}: <a id="change-password">{% trans 'change' %}</a></label>
        {% if form.password.errors %}
            <div class="ui-state-error">
                {{ form.password.errors }}
            </div>
        {% endif %}
        <input type="password" id="id_fake_password" name="fake_password" value="fake_password" readonly="readonly" class="text readonly" />
        <input type="password" id="id_new_password" name="new_password" value="" class="hidden text" />
    </div>
    <div class="field-wrapper hidden" id="verify-password">
        <label for="id_new_password2">{% trans 'Verify password' %}:</label>
        {% if form.password2.errors %}
            <div class="ui-state-error">
                {{ form.password2.errors }}
            </div>
        {% endif %}
        <input type="password" id="id_new_password2" name="new_password2" value="" class="text ui-widget-content ui-corner-all" />
    </div>
    <div class="field-wrapper">
        <label for="id_email2">{% trans 'E-mail address 2' %}:</label>
        {% if form.email2.errors %}
            <div class="ui-state-error">
                {{ form.email2.errors }}
            </div>
        {% endif %}
        {{ form.email2 }}
    </div>
    <div class="field-wrapper">
        <label for="id_email3">{% trans 'E-mail address 3' %}: </label>
        {% if form.email3.errors %}
            <div class="ui-state-error">
                {{ form.email3.errors }}
            </div>
        {% endif %}
        {{ form.email3 }}
    </div>
    <div class="field-wrapper">
        <label for="id_lng">{% trans 'Longitude' %}: <big>*</big></label>
        {% if form.lng.errors %}
            <div class="ui-state-error">
                {{ form.lng.errors }}
            </div>
        {% endif %}
        {{ form.lng}}
    </div>
    <div class="field-wrapper">
        <label for="id_lat">{% trans 'Latitude' %}: <big>*</big></label>
        {% if form.lat.errors %}
            <div class="ui-state-error">
                {{ form.lat.errors }}
            </div>
        {% endif %}
        {{ form.lat}}
    </div>
    <div class="field-wrapper">
        <label for="id_alt">{% trans 'Altitude' %}:</label>
        {% if form.alt.errors %}
            <div class="ui-state-error">
                {{ form.alt.errors }}
            </div>
        {% endif %}
        {{ form.alt }}
    </div>
    <p class="button-wrapper">
        <input type="submit" value="{% trans 'Save' %}" id="submit" class="button submit" />
        <a id="cancel" class="button cancel" href="{% url nodeshot_index %}" />{% trans 'Cancel' %}</a>
    </p>
</fieldset>
<script>
    {% include 'i18n_fragment.html' %}
    nodeshot.node.bindChangePassword()
</script>
{% endblock %}