{% extends 'ajax/base_form.html' %}
{% block h1 %}Modifica il nodo "{{ node.name }}"{% endblock %}
{% block node_link_extra %} class="active"{% endblock %}
{% block form_content %}
<p>I campi contrassegnati con un asterisco sono obbligatori.</p>
<fieldset>
    {% if form.non_field_errors %}
        <div class="ui-state-error" id="non-field-errors">
        {{ form.non_field_errors }}
        </div>
    {% endif %}
    {% if saved %}
        <div class="success">
            Nodo salvato correttamente.
        </div>
    {% endif %}
    {% if error %}
    <div class="ui-state-error">
        Alcuni campi non sono stati riempiti correttamente.
    </div>
    {% endif %}
    <div class="field-wrapper">
        <label for="id_name">Nome del nodo: <big>*</big></label>
        {% if form.name.errors %}
            <div class="ui-state-error">
                {{ form.name.errors }}
            </div>
        {% endif %}
        {{ form.name }}
    </div>
    <div class="field-wrapper">
        {{ form.description.errors }}
        {% if form.description.errors %}
            <div class="ui-state-error">
                {{ form.description.errors }}
            </div>
        {% endif %}
        <label for="id_description">Descrizione:</label>
        {{ form.description}}
    </div>
    <div class="field-wrapper">
        <label for="id_owner">Responsabile/i:</label>
        {% if form.owner.errors %}
            <div class="ui-state-error">
                {{ form.owner.errors }}
            </div>
        {% endif %}
        {{ form.owner }}
    </div>
    <div class="field-wrapper">
        <label for="id_postal_code">CAP: <big>*</big></label>
        {% if form.postal_code.errors %}
            <div class="ui-state-error">
                {{ form.postal_code.errors }}
            </div>
        {% endif %}
        {{ form.postal_code }}
    </div>
    <div class="field-wrapper">
        <label for="id_email">Indirizzo E-Mail principale: <big>*</big></label>
        {% if form.email.errors %}
            <div class="ui-state-error">
                {{ form.email.errors }}
            </div>
        {% endif %}
        {{ form.email }}
    </div>
    <div class="field-wrapper">
        <label>Password: <a id="change-password">change</a></label>
        {% if form.password.errors %}
            <div class="ui-state-error">
                {{ form.password.errors }}
            </div>
        {% endif %}
        <input type="password" id="id_fake_password" name="fake_password" value="fake_password" readonly="readonly" class="text readonly" />
        <input type="password" id="id_new_password" name="new_password" value="" class="hidden text" />
    </div>
    <div class="field-wrapper hidden" id="verify-password">
        <label for="id_new_password2">Verifica Password:</label>
        {% if form.password2.errors %}
            <div class="ui-state-error">
                {{ form.password2.errors }}
            </div>
        {% endif %}
        <input type="password" id="id_new_password2" name="new_password2" value="" class="text ui-widget-content ui-corner-all" />
    </div>
    <div class="field-wrapper">
        <label for="id_email2">Indirizzo E-Mail 2:</label>
        {% if form.email2.errors %}
            <div class="ui-state-error">
                {{ form.email2.errors }}
            </div>
        {% endif %}
        {{ form.email2 }}
    </div>
    <div class="field-wrapper">
        <label for="id_email3">Indirizzo E-Mail 3: </label>
        {% if form.email3.errors %}
            <div class="ui-state-error">
                {{ form.email3.errors }}
            </div>
        {% endif %}
        {{ form.email3 }}
    </div>
    <div class="field-wrapper">
        <label for="id_lng">Longitudine: <big>*</big></label>
        {% if form.lng.errors %}
            <div class="ui-state-error">
                {{ form.lng.errors }}
            </div>
        {% endif %}
        {{ form.lng}}
    </div>
    <div class="field-wrapper">
        <label for="id_lat">Latitudine: <big>*</big></label>
        {% if form.lat.errors %}
            <div class="ui-state-error">
                {{ form.lat.errors }}
            </div>
        {% endif %}
        {{ form.lat}}
    </div>
    <div class="field-wrapper">
        <label for="id_alt">Altitudine:</label>
        {% if form.alt.errors %}
            <div class="ui-state-error">
                {{ form.alt.errors }}
            </div>
        {% endif %}
        {{ form.alt}}
    </div>
    <p class="button-wrapper">
        <input type="submit" value="Salva" id="submit" class="button submit" />
        <a id="cancel" class="button cancel" href="{% url nodeshot_index %}" />Annulla</a>
    </p>
</fieldset>
<script>nodeshot.node.bindChangePassword()</script>
{% endblock %}