{% extends 'ajax/base_form.html' %}
{% block extra_class %} larger{% endblock %}
{% block h1 %}Modifica Hna4 di {{ node.name }}{% endblock %}
{% block hna4_link_extra %} class="active"{% endblock %}
{% block delete_node_link %}{% endblock %}
{% block form_content %}
    {% if saved %}
        <div class="success">
            HNA4 salvate correttamente.
        </div>
    {% endif %}
    {% if error %}
    <div class="ui-state-error extramarginbottom">
        Alcuni campi non sono stati riempiti correttamente.
    </div>
    {% endif %}
    <div id="tabs">
        <ul>
        {% for object in objects %}
            <li><a href="#device{{ forloop.counter }}-hna4">{{ object.device.name }}</a></li>
        {% endfor %}
        </ul>
        <form id="hna4-form" class="inline-formset" method="post" action="">
        {% for object in objects %}
            <div id="device{{ forloop.counter }}-hna4" class="tab">
                {% if object.formset.forms|length < 2 %}
                    <p class="extramarginbottom">Non ci sono ancora Hna4 annunciati per questo device.</p>
                {% endif %}
                {{ object.formset.management_form }}
                <fieldset id="device{{ forloop.counter }}-formset">
                {% for form in object.formset.forms %}
                    <div class="formset-form-container{% if not form.id.value and not form.errors %} hidden{% endif %}">
                        {% if forms.non_field_errors %}
                        <p class="ui-state-error">
                            {{ form.non_field_errors }}
                        </p>
                        {% endif %}
                        <div class="field-wrapper">                            
                            <label for="id_route">HNA:</label>
                            {% if form.route.errors %}
                                <div class="ui-state-error">
                                    {{ form.route.errors }}
                                </div>
                            {% endif %}
                            {{ form.route}}
                        </div>
                        {{ form.device }}
                        {% if form.id.value %}
                            {{ form.id }}
                            {{ form.DELETE }}
                        {% endif %}
                    </div>
                {% endfor %}
                </fieldset>
            </div>
        {% endfor %}
            <p class="button-wrapper tabbed">
                <input type="submit" value="Salva" id="submit" class="button submit" />
                <a id="cancel" class="button cancel" href="{% url nodeshot_index %}" />Annulla</a>
            </p>
        </form>
    </div>
</div>

<script>
    // get current tab index
    var hash = window.location.hash.replace('-tab', '');
    var current_tab = 0;
    // if # in the url is set
    if(hash != ''){
        tabs = $('.tab');
        for(i=0; i<tabs.length; i++){
            if('#'+tabs[i].id==hash){
                current_tab = i;
            }
        }
    }
    
    $("#tabs").tabs({
        create: function(event, ui){
            // select correct tab
            $(this).tabs('select', current_tab);
        },
        fx: { opacity: 'toggle', duration: 350 },
        show: function(event, ui){
            // trick to select the current tab without scrolling the page
            var newHash = '#'+ui.panel.id+'-tab';
            if(window.location.hash != newHash){
                window.location.hash = newHash;
            }
        }
    });
    {% for object in objects %}
    $("div.formset-form-container", "#device{{ forloop.counter }}-formset").formset({
        prefix: '{{ type }}{{ forloop.counter }}',
        addText: 'Aggiungi',
        deleteText: 'Rimuovi'
    });
    {% endfor %}
</script>
{% endblock %}

