{% extends 'ajax/base_form.html' %}{% load i18n %}
{% block extra_class %} larger{% endblock %}
{% block h1 %}{% blocktrans with node=node.name %}Edit Hna of "{{ node }}"{% endblocktrans %}{% endblock %}
{% block hna_link_extra %} class="active"{% endblock %}
{% block delete_node_link %}{% endblock %}
{% block form_content %}
    {% if saved %}
        <div class="success">
            {% trans 'Changes saved successfully.' %}
        </div>
    {% endif %}
    {% if error %}
    <div class="ui-state-error extramarginbottom">
        {% trans 'Some fields are not valid.' %}
    </div>
    {% endif %}
    <div id="tabs">
        <ul>
        {% for object in objects %}
            <li><a href="#device{{ forloop.counter }}-hna">{{ object.device.name }}</a></li>
        {% endfor %}
        </ul>
        <form id="hna-form" class="inline-formset" method="post" action="">
        {% for object in objects %}
            <div id="device{{ forloop.counter }}-hna" class="tab">
                {% if object.formset.forms|length < 2 %}
                    <p class="extramarginbottom">{% trans 'There are no announced Hna for this device yet.' %}</p>
                {% endif %}
                {{ object.formset.management_form }}
                <fieldset id="device{{ forloop.counter }}-formset">
                {% for form in object.formset.forms %}
                    <div class="formset-form-container{% if not form.id.value and not form.errors %} hidden{% endif %}">
                        {% if form.non_field_errors %}
                        <ul class="ui-state-error">
                            {{ form.non_field_errors }}
                        </ul>
                        {% endif %}
                        <div class="field-wrapper">                            
                            <label for="id_route">{% trans 'Hna Route' %}:</label>
                            {% if form.route.errors %}
                                <div class="ui-state-error">
                                    {{ form.route.errors }}
                                </div>
                            {% endif %}
                            {{ form.route}}
                        </div>
                        {{ form.device }}
                        {% if form.id.value %}
                            {{ form.id }}
                            {{ form.DELETE }}
                        {% endif %}
                    </div>
                {% endfor %}
                </fieldset>
            </div>
        {% endfor %}
            <p class="button-wrapper tabbed">
                <input type="submit" value="{% trans 'Save' %}" id="submit" class="button submit" />
                <a id="cancel" class="button cancel" href="{% url nodeshot_index %}" />{% trans 'Go back to map' %}</a>
            </p>
        </form>
    </div>
</div>

<script>
    // get current tab index
    var hash = window.location.hash.replace('-tab', '');
    var current_tab = 0;
    // if # in the url is set
    if(hash != ''){
        tabs = $('.tab');
        for(i=0; i<tabs.length; i++){
            if('#'+tabs[i].id==hash){
                current_tab = i;
            }
        }
    }
    
    $("#tabs").tabs({
        create: function(event, ui){
            // select correct tab
            $(this).tabs('select', current_tab);
        },
        fx: { opacity: 'toggle', duration: 350 },
        show: function(event, ui){
            // trick to select the current tab without scrolling the page
            var newHash = '#'+ui.panel.id+'-tab';
            if(window.location.hash != newHash){
                window.location.hash = newHash;
            }
        }
    });
    {% for object in objects %}
    $("div.formset-form-container", "#device{{ forloop.counter }}-formset").formset({
        prefix: '{{ type }}{{ forloop.counter }}',
        addText: '{% trans 'Add' %}',
        deleteText: '{% trans 'Remove' %}',
        formContainerClass: 'tab'
    });
    {% endfor %}
</script>
{% endblock %}

