{% extends 'ajax/base_form.html' %}
{% block extra_class %} larger{% endblock %}
{% block h1 %}Modifica interfacce di "{{ node.name }}"{% endblock %}
{% block interface_link_extra %} class="active"{% endblock %}
{% block form_content %}
{% if saved %}
<div class="success">
    Interfacce salvate correttamente.
</div>
{% endif %}
{% if error %}
    <div class="ui-state-error extramarginbottom">
        Alcuni campi non sono stati riempiti correttamente.
    </div>
{% endif %}
<div id="tabs">
    <ul>
    {% for object in objects %}
        <li><a href="#device{{ forloop.counter }}-interface">{{ object.device.name }}</a></li>
    {% endfor %}
    </ul>
    {% for object in objects %}
    <div id="device{{ forloop.counter }}-interface" class="tab">
        {{ object.formset.management_form }}
        <fieldset id="device{{ forloop.counter }}-formset">
            {% if object.formset.forms|length < 2 %}
                <p class="extramarginbottom">Non ci sono ancora interfacce per questo device.</p>
            {% endif %}
        {% for form in object.formset.forms %}
            <div class="formset-form-container{% if not form.id.value and not form.errors %} hidden{% endif %}">
                {% if forms.non_field_errors %}
                <p class="ui-state-error">
                    {{ form.non_field_errors }}
                </p>
                {% endif %}
                <div class="field-wrapper">
                    <label for="id_interface{{ forloop.parentloop.counter }}-{{ forloop.counter0 }}-type">Tipo di interfaccia: <big>*</big><label>
                    {% if form.type.errors %}
                        <div class="ui-state-error">
                            {{ form.type.errors }}
                        </div>
                    {% endif %}
                    {{ form.type }}
                </div>
                
                <div class="field-wrapper">                    
                    <label for="id_interface{{ forloop.parentloop.counter }}-{{ forloop.counter0 }}-ipv4_address">Indirizzo IPv4: <big>*</big><label>
                    {% if form.ipv4_address.errors %}
                        <div class="ui-state-error">
                            {{ form.ipv4_address.errors }}
                        </div>
                    {% endif %}
                    {{ form.ipv4_address }}
                </div>

                <div class="field-wrapper">                    
                    <label for="id_interface{{ forloop.parentloop.counter }}-{{ forloop.counter0 }}-ipv6_address">Indirizzo IPv6:<label>
                    {% if form.ipv6_address.errors %}
                        <div class="ui-state-error">
                            {{ form.ipv6_address.errors }}
                        </div>
                    {% endif %}
                    {{ form.ipv6_address }}
                </div>

                <div class="field-wrapper">                    
                    <label for="id_interface{{ forloop.parentloop.counter }}-{{ forloop.counter0 }}-wireless_mode">Wireless mode:<label>
                    {% if form.wireless_mode.errors %}
                        <div class="ui-state-error">
                            {{ form.wireless_mode.errors }}
                        </div>
                    {% endif %}
                    {{ form.wireless_mode }}
                </div>

                <div class="field-wrapper">
                    <label for="id_interface{{ forloop.parentloop.counter }}-{{ forloop.counter0 }}-wireless_channel">Canale:<label>
                    {% if form.wireless_channel.errors %}
                        <div class="ui-state-error">
                            {{ form.wireless_channel.errors }}
                        </div>
                    {% endif %}
                    {{ form.wireless_channel }}
                </div>

                <div class="field-wrapper">
                    <label for="id_interface{{ forloop.parentloop.counter }}-{{ forloop.counter0 }}-wireless_polarization">Polarizzazione:<label>
                    {% if form.wireless_polarity.errors %}
                        <div class="ui-state-error">
                            {{ form.wireless_polarity.errors }}
                        </div>
                    {% endif %}
                    {{ form.wireless_polarity }}
                </div>

                <div class="field-wrapper">
                    <label for="id_interface{{ forloop.parentloop.counter }}-{{ forloop.counter0 }}-mac_address">Indirizzo MAC:<label>
                    {% if form.mac_address.errors %}
                        <div class="ui-state-error">
                            {{ form.mac_address.errors }}
                        </div>
                    {% endif %}
                    {{ form.mac_address }}
                </div>

                <div class="field-wrapper">
                    <label for="id_interface{{ forloop.parentloop.counter }}-{{ forloop.counter0 }}-ssid">SSID:<label>
                    {% if form.ssid.errors %}
                        <div class="ui-state-error">
                            {{ form.ssid.errors }}
                        </div>
                    {% endif %}
                    {{ form.ssid }}
                </div>
                
                <div class="field-wrapper">
                    <label for="id_interface{{ forloop.parentloop.counter }}-{{ forloop.counter0 }}-status">Status:<label>
                    {% if form.status.errors %}
                        <div class="ui-state-error">
                            {{ form.status.errors }}
                        </div>
                    {% endif %}
                    {{ form.status }}
                </div>
                {{ form.device }}
                {% if form.id.value %}
                    {{ form.id }}
                    {{ form.DELETE }}
                {% endif %}
            </div>
        {% endfor %}
        </fieldset>
    </div>
    {% endfor %}
    <p class="button-wrapper tabbed">
        <input type="submit" value="Salva" id="submit" class="button submit" />
        <a id="cancel" class="button cancel" href="{% url nodeshot_index %}" />Annulla</a>
    </p>
</div>

<script>
    // get current tab index
    var hash = window.location.hash.replace('-tab', '');
    var current_tab = 0;
    // if # in the url is set
    if(hash != ''){
        tabs = $('.tab');
        for(i=0; i<tabs.length; i++){
            if('#'+tabs[i].id==hash){
                current_tab = i;
            }
        }
    }
    
    $("#tabs").tabs({
        create: function(event, ui){
            // select correct tab
            $(this).tabs('select', current_tab);
        },
        fx: { opacity: 'toggle', duration: 350 },
        show: function(event, ui){
            // trick to select the current tab without scrolling the page
            var newHash = '#'+ui.panel.id+'-tab';
            if(window.location.hash != newHash){
                window.location.hash = newHash;
            }
        }
    });
    {% for object in objects %}
    $("div.formset-form-container", "#device{{ forloop.counter }}-formset").formset({
        prefix: '{{ type }}{{ forloop.counter }}',
        addText: 'Aggiungi',
        deleteText: 'Rimuovi'
    });
    {% endfor %}
</script>
{% endblock %}
