<div id="info-window" class="tabs ui-tabs ui-widget ui-widget-content ui-corner-all">
    <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
        <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#tab-info"><span>Info</span></a></li>
        <li class="ui-state-default ui-corner-top"><a href="#tab-dist"><span>Distanza</span></a></li>
        {% if node.status != 'p' %}<li class="ui-state-default ui-corner-top"><a href="#tab-advanced" id="advanced-link" data-url="{% url nodeshot_node_advanced node.id %}" ><span>Avanzate</span></a></li>{% endif %}
    </ul>

    <div id="tab-info" class="content ui-tabs-panel ui-widget-content ui-corner-bottom">
        <h3>Informazioni generali sul nodo &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3>
        <table class="list-values">
            <tr>
                <td class="key">Nome:</td><td class="value" id="node-name">{{ node.name }}</td>
            </tr>
            {% if node.description %}
            <tr>
                <td class="key">Descrizione:</td><td class="value">{{ node.description }}</td>
            </tr>
            {% endif %}
            {% if node.owner %}
            <tr>
                <td class="key">Responsabile:</td><td class="value">{{ node.owner }}</td>
            </tr>
            {% endif %}
            <tr>
                <td class="key">Cap:</td><td class="value">{{ node.postal_code }}</td>
            </tr>
            <tr>
                <td class="key">Latitudine:</td><td class="value">{{ node.lat }}</td>
            </tr>
            <tr>
                <td class="key">Longitudine:</td><td class="value">{{ node.lng }}</td>
            </tr>
            {% if node.alt %}
            <tr>
                <td class="key">Altitudine:</td><td class="value">{{ node.alt }} metri</td>
            </tr>
            {% endif %}
        </table>    
        <a href="{% url nodeshot_contact_node node.id %}" id="contact-link" class="button link">Contatta</a>
        <a href="{% url nodeshot_select node.slug %}" class="button link">Permalink</a>
        <a href="{% url nodeshot_auth_node node.id %}" class="button link">Modifica nodo</a>
    </div>

    <div id="tab-dist" class="content ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide">
        <h3>Calcola distanza</h3>
        <p>Calcola la distanza tra "{{ node.name }}" e un'altro nodo a tuo piacimento.</p>
        <table class="list-values">
            <tr>
                <td class="key valigncenter">Cerca il nodo:</td>
                <td class="value"><input id="distance-search" class="text" value="Cerca nodo, ip, mac, ssid" /></td>
            </tr>
            <tr>
                <td class="key valignmiddle">Seleziona il nodo:</td>
                <td class="value">{% load jslugify %}
                    <select id="distance-select" class="text">
                        <option>Selezionare un nodo</option>
                        <option> ----------------- </option>
                        <optgroup label="Nodi Attivi">
                            {% for node in nodes %}
                                {% if node.status == 'a' %}<option value="{{ node.lat }};{{ node.lng }};{{ node.slug|jslugify }};{{ node.status }}">{{ node.name }}</option>{% endif %}
                            {% endfor %}
                        </optgroup>
                        
                        <optgroup label="Hotspot">
                            {% for node in nodes %}
                                {% if node.status == 'h' %}<option value="{{ node.lat }};{{ node.lng }};{{ node.slug }};{{ node.status }}">{{ node.name }}</option>{% endif %}
                            {% endfor %}
                        </optgroup>
                        
                        <optgroup label="Nodi Potenziali">
                            {% for node in nodes %}
                                {% if node.status == 'p' %}<option value="{{ node.lat }};{{ node.lng }};{{ node.slug }};{{ node.status }}">{{ node.name }}</option>{% endif %}
                            {% endfor %}
                        </optgroup>
                    </select>
                </td>
            </tr>
        </table>    
        <p id="result-row" class="hidden">
            Risultato: <b><span id="result"></span> km</b>
        </p>
    </div>
    {% if node.status != 'p' %}<div id="tab-advanced"></div>{% endif %}
</div>
