<div id="info-window" class="tabs ui-tabs ui-widget ui-widget-content ui-corner-all">{% load i18n %}
    <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
        <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#tab-info"><span>{% trans 'Info' %}</span></a></li>
        <li class="ui-state-default ui-corner-top"><a href="#tab-dist"><span>{% trans 'Distance' %}</span></a></li>
        {% if node.status != 'p' %}<li class="ui-state-default ui-corner-top"><a href="#tab-advanced" id="advanced-link" data-url="{% url nodeshot_node_advanced node.id %}" ><span>{% trans 'Advanced' %}</span></a></li>{% endif %}
    </ul>

    <div id="tab-info" class="content ui-tabs-panel ui-widget-content ui-corner-bottom">
        <h3>{% trans 'General information about the node' %} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h3>
        <table class="list-values">
            <tr>
                <td class="key">{% trans 'Name' %}:</td><td class="value" id="node-name">{{ node.name }}</td>
            </tr>
            {% if node.description %}
            <tr>
                <td class="key">{% trans 'Description' %}:</td><td class="value">{{ node.description }}</td>
            </tr>
            {% endif %}
            {% if node.owner %}
            <tr>
                <td class="key">{% trans 'In charge' %}:</td><td class="value">{{ node.owner }}</td>
            </tr>
            {% endif %}
            {% if node.postal_code %}    
            <tr>
                <td class="key">{% trans 'Postal code' %}:</td><td class="value">{{ node.postal_code }}</td>
            </tr>
            {% endif %}
            <tr>
                <td class="key">{% trans 'Latitude' %}:</td><td class="value">{{ node.lat }}</td>
            </tr>
            <tr>
                <td class="key">{% trans 'Longitude' %}:</td><td class="value">{{ node.lng }}</td>
            </tr>
            {% if node.alt %}
            <tr>
                <td class="key">{% trans 'Altitude' %}:</td><td class="value">{{ node.alt }} {% trans 'metres' %}</td>
            </tr>
            {% endif %}
        </table>    
        <a href="{% url nodeshot_contact_node node.id %}" id="contact-link" class="button link">{% trans 'Contact' %}</a>
        <a href="{% url nodeshot_select node.slug %}" class="button link">{% trans 'Permalink' %}</a>
        <a href="{% url nodeshot_auth_node node.id %}" class="button link">{% trans 'Edit node' %}</a>
    </div>

    <div id="tab-dist" class="content ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide">
        <h3>{% trans 'Distance calculation' %}</h3>
        <p>{% blocktrans with node=node.name %}Calculate the distance between "{{ node }}" and another node of your choice.{% endblocktrans %}</p>
        <table class="list-values">
            <tr>
                <td class="key valigncenter">{% trans 'Search node' %}:</td>
                <td class="value"><input id="distance-search" class="text" value="Cerca nodo, ip, mac, ssid" /></td>
            </tr>
            <tr>
                <td class="key valignmiddle">{% trans 'Select node' %}:</td>
                <td class="value">{% load jslugify %}
                    <select id="distance-select" class="text">
                        <option></option>
                        <optgroup label="{% trans 'Active Nodes' %}">
                            {% for node in nodes %}{% if node.status == 'a' or node.status == 'ah' %}<option value="{{ node.lat }};{{ node.lng }};{{ node.slug|jslugify }};{{ node.status }}">{{ node.name }}</option>{% endif %}{% endfor %}
                        </optgroup>
                        
                        <optgroup label="{% trans 'Hotspot' %}">
                            {% for node in nodes %}{% if node.status == 'h' or node.status == 'ah' %}<option value="{{ node.lat }};{{ node.lng }};{{ node.slug }};{{ node.status }}">{{ node.name }}</option>{% endif %}{% endfor %}
                        </optgroup>
                        
                        <optgroup label="{% trans 'Potential Nodes' %}">
                            {% for node in nodes %}{% if node.status == 'p' %}<option value="{{ node.lat }};{{ node.lng }};{{ node.slug }};{{ node.status }}">{{ node.name }}</option>{% endif %}{% endfor %}
                        </optgroup>
                    </select>
                </td>
            </tr>
        </table>    
        <p id="result-row" class="hidden">
        {% trans 'Distance' %}: <b><span id="result"></span>{% trans 'km' %}</b>
        <br />{% trans 'Azimuth' %}: <b><span id="azimuth"></span> °</b>
        </p>
    </div>
    {% if node.status != 'p' %}<div id="tab-advanced"></div>{% endif %}
</div>
