<div id="info-wrapper">{% load i18n %}
    <div id="table-wrapper" class="ui-corner-all">
        <table id="info-table" class="tablesorter"> 
            <thead> 
                <tr> 
                    <th style="width: 10%">{% trans 'Status' %}</th> 
                    <th style="width: 15%">{% trans 'Device name (Node)' %}</th> 
                    <th style="width: 10%">{% trans 'Type' %}</th> 
                    <th style="width: 10%">{% trans 'IP' %}</th> 
                    <th style="width: 35%">{% trans 'Signal' %}</th> 
                </tr> 
            </thead> 
            <tbody> 
                {% for device in devices %}
                <tr class="{{device.node.slug }}"> 
                    <td><div class="status-{{ device.status }}">{{ device.status }}</div><span style="display: none">{{ device.status }}</span></td> 
                    <td>{{ device.name }} ({{ device.node.name }}) </td> 
                    <td>{{ device.device_type }}</td> 
                    <td>{% for ip in device.ips %} {{ip}} <br /> {% endfor %}</td> 
                    <td>
                        {% for signal in device.links %}
                        <div>
                            {% if signal.dbm < 0 %}<div class="signalbar" data-value="{{ signal.signal_bar }}"></div> {{ signal.dbm }} dBm - {% else %}<span style="display: none">-100</span>{% trans 'dBm not available' %} - {% endif %}
                            {{ signal.get_etx }} etx &raquo; <a href="javascript:nodeshot.infoTab.scrollTo('{{ signal.destination.slug }}')">{{ signal.destination.name }}</a>
                        </div>
                        {% endfor %}
                    </td>
                </tr> 
                {% endfor %}
            </tbody> 
        </table> 
    </div>
</div>
