{% extends 'ajax/base_form.html' %}
{% block extra_class %} narrower{% endblock %}
{% block h1 %}
    {% if sent %}
        Password inviata con successo
    {% else %}
        Password reset per "{{ node.name }}"
    {% endif %}
{% endblock %}
{% block menu %}{% endblock %}
{% block form_content %}
    {% csrf_token %}
    {% if sent %}
        <p>Abbiamo inviato un'email ai responsabili del nodo contenente la nuova password.</p>
    {% else %}
        <p>Utilizzando questo form verrà generata una nuova password che verrà inviata via email ai responsabili del nodo.</p>
        <fieldset>
            <div class="field-wrapper">
                <label for="id_password">Inserisci il tuo indirizzo email:</label>
                {% if form.email.errors or form.non_field_errors %}
                    <div class="ui-state-error">
                    {{ form.email.errors }}
                    {{ form.non_field_errors }}
                    </div>
                {% endif %}
                {{ form.email }}
            </div>
            <p class="button-wrapper">
                <input type="submit" value="Invia" id="submit" class="button submit" />
                <a id="cancel" class="button cancel" href="{% url nodeshot_auth_node node.id %}" />Annulla</a>
            </p>
        </fieldset>
    {% endif %}
{% endblock %}


