{% extends 'ajax/base_form.html' %}{% load i18n %}
{% block extra_class %} narrower{% endblock %}
{% block h1 %}
    {% if sent %}
        {% trans 'New password sent successfully.' %}
    {% else %}
        {% blocktrans with node=node.name %}Reset password for "{{ node }}"{% endblocktrans %}
    {% endif %}
{% endblock %}
{% block menu %}{% endblock %}
{% block form_content %}
    {% csrf_token %}
    {% if sent  %}
        <p>{% trans 'A new password has been sent via email to the owners of the node.' %}</p>
        <p class="button-wrapper">
            <a id="cancel" class="button submit" href="{% url nodeshot_auth_node node.id %}" />{% trans 'Go Back' %}</a>
        </p>
    {% else %}
        <p>{% trans 'Generate a new password that will be sent via email to the node owners.' %}</p>
        <fieldset>
            <div class="field-wrapper">
                <label for="id_password">{% trans 'Your E-mail address' %}:</label>
                {% if form.email.errors or form.non_field_errors %}
                    <div class="ui-state-error">
                    {{ form.email.errors }}
                    {{ form.non_field_errors }}
                    </div>
                {% endif %}
                {{ form.email }}
            </div>
            <p class="button-wrapper">
                <input type="submit" value="{% trans 'Submit' %}" id="submit" class="button submit" />
                <a id="cancel" class="button cancel" href="{% url nodeshot_auth_node node.id %}" />{% trans 'Cancel' %}</a>
            </p>
        </fieldset>
    {% endif %}
{% endblock %}


